<template>
  <div
    class="wrapper"
    :class="{'nav-open': $sidebar.showSidebar}">
    <notifications/>

    <div class="main-panel">
      <top-navbar v-if="isAuthenticated"/>

      <dashboard-content/>

      <!--<content-footer v-if="!$route.meta.hideFooter"></content-footer>-->
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
import TopNavbar from './TopNavbar.vue'
import ContentFooter from './ContentFooter.vue'
import DashboardContent from './Content.vue'
import MobileMenu from '@/pages/Layout/MobileMenu.vue'

export default {

  components: {
    TopNavbar,
    DashboardContent,
    //    ContentFooter,
    MobileMenu
  },

  data: () => ({
    isAuthenticated: !!localStorage.getItem('_token') && !!localStorage.getItem('role'),
  }),
  computed: {
    currentRouteName () {
      return this.$route.name;
    },
  },
  mounted () {
    console.log(this.isAuthenticated);
    if (this.currentRouteName != 'Form') {
      setInterval(() => {
        this.isAuthenticated = !!localStorage.getItem('_token') && !!localStorage.getItem('role');
        if (!this.isAuthenticated) {
          this.$router.replace('login');
        } else {
          this.$router.push('user');
        }
      }, 2000);
    }


  },
};
</script>
