<template>
  <md-toolbar
    md-elevation="0"
    class="md-transparent"
    v-if="isAuthenticated">
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
      </div>
      <div class="md-toolbar-section-end">
        <md-button
          class="md-just-icon md-simple md-toolbar-toggle"
          :class="{toggled: $sidebar.showSidebar}"
          @click="toggleSidebar">
          <span class="icon-bar"/>
          <span class="icon-bar"/>
          <span class="icon-bar"/>
        </md-button>

        <div class="md-collapse">
          <md-list class="md-alignment-center-center">
            <md-list-item @click="tologout" v-if="!isAnonymous" >
              <p class="" style="line-height: 50px !important">Logout</p>
            </md-list-item>
            <md-list-item>
              <img :src="logoImg" class="img" style="height: 50px !important"/>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </div>

  </md-toolbar>
</template>

<script>
import Router from 'vue-router'

export default{
  props: {
    logoImg: {
      type: String,
      default: require('@/assets/img/sanofi_logo.jpg'),
    },
  },
  data () {
    return {
      isAuthenticated: !!localStorage.getItem('_token') && !!localStorage.getItem('role'),
      isAnonymous: localStorage.getItem('role') == 'anonymous',
      selectedEmployee: null,
      employees: [
        'Jim Halpert',
        'Dwight Schrute',
        'Michael Scott',
        'Pam Beesly',
        'Angela Martin',
        'Kelly Kapoor',
        'Ryan Howard',
        'Kevin Malone'
      ]
    }
  },
  methods: {
    tologout () {
      localStorage.clear()
      this.$router.replace('/login')
    },

    toggleSidebar () {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
    }
  }
}
</script>

<style lang="css">
</style>
