<template>
  <div
    class="md-layout-item md-medium-size-100 md-size-66"
    v-if="true">

    <form
      novalidate
      class="md-layout"
      @submit.prevent="validateUser"
      v-if="showForm">
      <md-card class="md-layout-item md-size-50 md-small-size-100">
        <md-card-header>
          <div class="md-title">CreateNewForm</div>
        </md-card-header>

        <md-card-content>
          <md-field>
            <label for="email">Form Name</label>
            <md-input
              type="text"
              name="formname"
              id="Form Name"
              v-model="form.formname"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>
          <md-field >
            <label for="createdBy">created By</label>
            <md-input
              type="text"
              name="createdBy"
              id="createdBy"
              v-model="form.createdBy"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>
          <md-field>
            <label for="email">Date of Creation</label>
            <md-input
              type="text"
              name="creationd"
              id="password"
              autocomplete="password"
              v-model="form.password"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>

          <md-field>
            <label for="email">Purpose</label>
            <md-input
              type="text"
              name="purpose"
              id="purpose"
              autocomplete="password"
              v-model="form.purpose"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>
          <md-field>
            <label for="email">Activity Type</label>
            <md-input
              type="text"
              name="activity"
              id="password"
              autocomplete="password"
              v-model="form.activity"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>
          <md-field>
            <label for="email">Activation Date</label>
            <md-input
              type="text"
              name="creationd"
              id="password"
              autocomplete="password"
              v-model="form.password"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>
          <md-field>
            <label for="email">Inactivation Date</label>
            <md-input
              type="text"
              name="creationd"
              id="password"
              autocomplete="password"
              v-model="form.password"
              :disabled="sending" />
            <span
              class="md-error"
              v-if="!$v.form.email.required">The email is required</span>
            <span
              class="md-error"
              v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>
        </md-card-content>
        <md-progress-bar
          md-mode="indeterminate"
          v-if="sending" />
        <md-card-actions>

          <md-button
            type="submit"
            class="md-primary"
            :disabled="sending">Create Form</md-button>
        </md-card-actions>
      </md-card>
      <md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>
    </form>

  </div>

</template>

<script>
import { validationMixin } from 'vuelidate'
import {
  required,
  email,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'
export default {

  name: 'Createformprofile',
  mixins: [validationMixin],
  data: () => ({

    form: {
      firstName: null,
      lastName: null,
      gender: null,
      age: null,
      email: null
    },
    userSaved: false,
    sending: false,
    lastUser: null,
    createUser: false
  }),
  validations: {
    form: {
      firstName: {
        required,
        minLength: minLength(3)
      },
      lastName: {
        required,
        minLength: minLength(3)
      },
      age: {
        required,
        maxLength: maxLength(3)
      },
      gender: {
        required
      },
      email: {
        required,
        email
      }
    }
  },
  props: {
    dataBackgroundColor: {
      type: String,
      default: ''
    },

    showForm: Boolean
  },
  methods: {

    toggleRegisterLogin () {
      this.createUser = !this.createUser
    },

    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },
    clearForm () {
      this.$v.$reset()
      this.form.firstName = null
      this.form.lastName = null
      this.form.age = null
      this.form.gender = null
      this.form.email = null
    },
    saveUser () {
      this.sending = true

      // Instead of this timeout, here you can call your API
      window.setTimeout(() => {
        this.lastUser = `${this.form.firstName} ${this.form.lastName}`
        this.userSaved = true
        this.sending = false
        this.clearForm()
      }, 1500)
    },
    validateUser () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.saveUser()
      }
    }
  }

}
</script>
