<template>
  <div class="vld-parent" ref="accessManagerTop">
    <loading :active.sync="isLoading"
             :color="color = '#4caf50'"
             :background-color="color = '#000'"
             :loader="spiner = 'spinner'"
             :height="height = 128"
             :width ="width = 128"
             :is-full-page="fullPage = true"></loading>
    <form @submit.prevent="validateUser" novalidate>
      <md-field :class="getValidationClass('name')">
        <label>Name</label>
        <md-input v-model="form.name" :disable="isLoading"/>
        <span class="md-error" v-if="!$v.form.name.required">Name is required</span>
      </md-field>
      <md-field :class="getValidationClass('password')" v-if="isCreateMode">
        <label>Password</label>
        <md-input type="password" autocomplete="current-password" v-model="form.password" :disabled="isLoading"/>
        <span class="md-error" v-if="!$v.form.password.required">Password is required</span>
      </md-field>
      <md-field v-if="!isCreateMode">
        <label>Password (leave blank if not updating password)</label>
        <md-input type="password" autocomplete="current-password" v-model="form.newPassword" :disabled="isLoading"/>
      </md-field>
      <md-field :class="getValidationClass('email')">
        <label>Email</label>
        <md-input type="email" v-model="form.email" :disabled="isLoading" autocomplete="username email"/>
        <span class="md-error" v-if="!$v.form.email.required">Email is required</span>
        <span class="md-error" v-if="!$v.form.email.email">Email is not valid</span>
      </md-field>
      <md-field>
        <label>Plan/Role</label>
        <md-select
          name="role-list"
          id="role-list"
          v-model="form.plan">
          <md-option v-for="item in plans" :value="item.value" style="text-transform: capitalize">{{item.label}}</md-option>
        </md-select>
      </md-field>
      <md-field v-if="isAdministratorRole">
        <label>Team</label>
        <md-select
          name="team-list"
          id="team-list"
          v-model="form.team"
          @md-selected="onTeamChange">
          <md-option v-for="item in teams" :value="item.id" style="text-transform: capitalize">{{item.name}}</md-option>
        </md-select>
      </md-field>
      <md-button class="md-primary" :disabled="isLoading" type="submit" v-if="isCreateMode">Create User</md-button>
      <md-button class="md-primary" :disabled="isLoading" type="submit" v-if="!isCreateMode">Update User</md-button>
    </form>
    <md-card>
      <md-card-header data-background-color="green">
        <h4 class="title">User List</h4>
      </md-card-header>
      <md-card-content v-if="userListReload">
        <user-list v-on:event-user-edit-click="showEditUser" :user.sync="currentUser"></user-list>
      </md-card-content>
    </md-card>
    <md-dialog-alert
      :md-active.sync="first"
      md-title="Access Manager"
      :md-content="dialogMessage" />

    <md-dialog-prompt
      :md-active.sync="isShowTeamPrompt"
      v-model="newTeamName"
      @md-confirm="createNewTeam"
      md-title="Enter a new team name"
      md-input-placeholder="Type your name..."
      md-confirm-text="Create" />
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, email } from 'vuelidate/lib/validators';
import axios from 'axios';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import UserList from './UserList';

export default {
  components: { Loading, UserList },
  mixins: [validationMixin],
  name: 'AccessManager',
  validations: {
    form: {
      name: { required },
      password: { required },
      email: { required, email },
    },
  },
  mounted () {
    let role = localStorage.getItem('role');
    if (role === 'administrator') {
      this.plans.push({ value: 'team manager', label: 'Team Manager' });
      this.isAdministratorRole = true;
      let url = `${process.env.VUE_APP_API_URI}/team-list`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      this.isLoading = true;
      axios.get(url, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          this.teams = response.data;
          this.teams.unshift({ id: 0, name: 'Create a new team' });
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.isLoading = false;
        });
    }
  },
  methods: {
    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty,
        };
      }
    },
    clearForm () {
      this.$v.$reset();
      this.form.name = null;
      this.form.password = null;
      this.form.newPassword = null;
      this.form.email = null;
      this.form.plan = null;
      this.form.team = null;
      this.form.id = null;
    },
    createUser () {
      this.isLoading = true;
      this.userListReload = false;
      let url = `${process.env.VUE_APP_API_URI}/create-user-access-manager`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      let postData = {
        name: this.form.name,
        password: this.form.password,
        email: this.form.email,
        plan: this.form.plan,
        team: this.form.team,
      };
      axios.post(url, postData, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          if (response.data.success) {
            let user = response.data.user;
            this.dialogMessage = `Success! User ${user.name} (${user.email}) was created.`;
            this.first = true;
            this.clearForm();
          } else {
            let error = response.data.error;
            if (error.hasOwnProperty('email')) {
              this.dialogMessage = 'Error: ' + error.email[0];
              this.first = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.isLoading = false;
          this.userListReload = true;
        });
    },
    updateUser () {
      this.isLoading = true;
      this.userListReload = false;
      let url = `${process.env.VUE_APP_API_URI}/update-user-access-manager`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      let postData = {
        id: this.form.id,
        name: this.form.name,
        password: this.form.newPassword === null ? '' : this.form.newPassword,
        email: this.form.email,
        plan: this.form.plan,
        team: this.form.team,
      };
      axios.post(url, postData, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          if (response.data.success) {
            let user = response.data.user;
            this.dialogMessage = `Success! User ${user.name} (${user.email}) was updated.`;
            this.first = true;
            this.clearForm();
          } else {
            let error = response.data.error;
            if (error.hasOwnProperty('email')) {
              this.dialogMessage = 'Error: ' + error.email[0];
              this.first = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.isLoading = false;
          this.userListReload = true;
        });
    },
    validateUser () {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        if (this.isCreateMode) {
          this.createUser();
        } else {
          this.updateUser();
        }
      }
    },
    onTeamChange () {
      if (this.form.team === 0) {
        this.isShowTeamPrompt = true;
      }
    },
    createNewTeam () {
      let url = `${process.env.VUE_APP_API_URI}/create-team`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      let postData = {
        name: this.newTeamName,
      };
      this.isLoading = true;
      axios.post(url, postData, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          if (response.data.success) {
            let team = response.data.team;
            this.teams = response.data.teams;
            setTimeout(() => {
              this.form.team = team.id;
            }, 100);
          } else {
            let error = response.data.error;
            if (error.hasOwnProperty('name')) {
              this.dialogMessage = 'Error: ' + error.name[0];
              this.first = true;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.isLoading = false;
        });
    },
    showEditUser () {
      // check edit mode
      if (this.currentUser) {
        this.isCreateMode = false;
        this.form.id = this.currentUser.id;
        this.form.name = this.currentUser.name;
        this.form.newPassword = null;
        this.form.email = this.currentUser.email;
        this.form.plan = this.currentUser.roles.length > 0 ? this.currentUser.roles[0].access : null;
        this.form.team = this.currentUser.teams.length > 0 ? this.currentUser.teams[0].id : null;
        this.form.password = 123456;
        window.scrollTo(0, 0);

      }
    },
  },
  data: () => ({
    isLoading: false,
    currentUser: null,
    userListReload: true,
    refreshUserList: false,
    isAdministratorRole: false,
    dialogMessage: '',
    first: false,
    isShowTeamPrompt: false,
    newTeamName: null,
    isCreateMode: true,
    form: {
      id: null,
      name: null,
      password: null,
      newPassword: null,
      email: null,
      plan: 'basic',
      team: null,
    },
    teams: [],
    plans: [
      { value: 'basic', 'label': 'Basic Plan' },
      { value: 'professional', 'label': 'Professional Plan' },
      { value: 'premium', 'label': 'Premium Plan' },
      { value: 'enterprise', 'label': 'Enterprise Plan' },
    ],
  }),
}
</script>

<style scoped>
  .md-menu-content{
    max-width: 74%;
  }

</style>
