<template>
  <div>
    <form novalidate @submit.prevent="validateSegment">
      <md-field :class="getValidationClass('name')">
        <label for="name">Segment Name</label>
        <md-input name="name" id="name" v-model="form.name" :disabled="sending" />
        <span class="md-error" v-if="!$v.form.name.required">The segment name is required</span>
      </md-field>
      <md-field >
        <label for="description"> Segment Description</label>
        <md-input name="description" id="description" v-model="form.description" :disabled="sending"/>
      </md-field>
      <md-field >
        <label for="brandOfFocus">Brand Of Focus</label>
        <md-input name="brandOfFocus" id="brandOfFocus" v-model="form.brandOfFocus" :disabled="sending"/>
      </md-field>
      <md-field >
        <label for="CreatedByName">Created By (Read only)</label>
        <md-input name="createdByName" id="CreatedByName" v-model="form.createdByName" readonly disabled/>
      </md-field>
      <md-field >
        <label for="CreatedDate">Created Date (Read only)</label>
        <md-input name="createdDate" id="CreatedDate" v-model="form.createdDate" readonly disabled/>
      </md-field>
      <md-card>
        <md-card-header data-background-color="green">
          <h6 class="subtitle">Segment Rules</h6>
        </md-card-header>
        <md-card-content>
          <segment-rule :segment-rules="segmentRules"/>
        </md-card-content>
      </md-card>
      <md-button style="text-transform: none" type="submit" class="md-primary" :disabled="sending" v-if="isCreateMode">Create Segment</md-button>
      <md-button style="text-transform: none" type="submit" class="md-primary" :disabled="sending" v-else>Update Segment</md-button>
    </form>
    <md-dialog-alert
      :md-active.sync="first"
      md-title="Well done!"
      :md-content="successMessage = 'Segment was created successfully.'"
      @md-closed="onClosedSuccessAlert" />
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';
import moment from 'moment';
import axios from 'axios';
import SegmentRule from './SegmentRule';

export default {
  name: 'CreateSegment',
  mixins: [validationMixin],
  components: { SegmentRule },
  props: ['segment'],
  data: () => ({
    segmentRules: [],
    form: {
      name: null,
      description: null,
      brandOfFocus: null,
      createdBy: localStorage.getItem('u_id'),
      createdByName: JSON.parse(localStorage.getItem('user')).name,
      createdDate: moment().format('YYYY-MM-DD'),
    },
    segmentSaved: false,
    sending: false,
    lastSegment: null,
    isCreateMode: true,
    first: false,
  }),
  validations: {
    form: {
      name: { required },
      description: { required },
      brandOfFocus: { required },
    },
  },
  mounted () {
    if (this.segment) {
      this.isCreateMode = false;
      this.form.name = this.segment.name;
      this.form.description = this.segment.description;
      this.form.brandOfFocus = this.segment.brand_of_focus;
      this.form.createdBy = this.segment.created_by;
      this.form.createdByName = this.segment.creator.name;
      this.form.createDate = this.segment.created_at;
      this.segmentRules = this.segment.rules;
    }
  },
  methods: {
    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty,
        };
      }
    },
    clearForm () {
      this.$v.$reset();
      this.form.name = null;
      this.form.description = null;
    },
    saveSegment () {
      this.sending = true;
      let url = `${process.env.VUE_APP_API_URI}/segment`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      let postData = {
        name: this.form.name,
        description: this.form.description,
        brand_of_focus: this.form.brandOfFocus,
        created_by: this.form.createdBy,
        rules: this.segmentRules,
      };
      axios.post(url, postData, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          this.first = true;
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.sending = false;
        });
    },
    updateSegment () {
      this.sending = true;
      let url = `${process.env.VUE_APP_API_URI}/segment/${this.segment.id}`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      let postData = {
        name: this.form.name,
        description: this.form.description,
        brand_of_focus: this.form.brandOfFocus,
        created_by: this.form.createdBy,
        rules: this.segmentRules,
      };
      axios.put(url, postData, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          this.first = true;
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.sending = false;
        });
    },
    validateSegment () {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        if (this.isCreateMode) {
          this.saveSegment();
        } else {
          this.updateSegment();
        }
      }
    },
    onClosedSuccessAlert () {
      this.$emit('event-segment-created');
    },
  },
};
</script>

<style scoped>

</style>
