<template>
  <div >

    <form novalidate>
      <md-field >
        <label>Enter Segment Name</label>
        <md-input/>
      </md-field>

      <md-field >
        <label> Segment Description</label>
        <md-input/>
      </md-field>

      <md-field >
        <label>Brand Of Focus</label>
        <md-input/>
      </md-field>

      <md-field >
        <label>Created By</label>
        <md-input/>
      </md-field>

      <md-datepicker v-model="createdAtDate">
        <label>Created date</label>
      </md-datepicker>
    </form>
    <md-button class="md-button md-primary btn">Done</md-button>

    <div class="addbuttons">
      <div>
        <md-button
          id="btn1"
          @click="activeaddfield"
          class="md-fab md-accent"
          style="float: left; position: relative;background: none !important;color: #000 !important; box-shadow: none !important">
          <md-icon >add</md-icon>
        </md-button>
        <p>Add Sorting Fields</p>
      </div>
      <div
        hidden="false"
        id="addfield">
        <div
          class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
          v-if="true">
          <md-card>
            <md-card-header data-background-color="green">
              <h4 class="title">{Name Of Segment will come Here}</h4>
              <!--<p class="category">Here is a subtitle for this table</p>-->
            </md-card-header>
            <md-card-content>
              <part-of-segment/>
            </md-card-content>
          </md-card>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import PartOfSegment from './PartOfSegment'

export default {
  components: { PartOfSegment },
  name: 'CreateNewSegment',

  component: {

  },
  methods: {
    greet () {
      this.fields.push({
        name: this.value
      })
      console.log(this.fields)
    },
    activeaddfield () {
      document.getElementById('addfield').hidden = !document.getElementById('addfield').hidden
    }
  },
  data: () => ({
    createdAtDate: null,
    value: null,
    fields: [
    ]
  })
}
</script>

<style scoped>
    .addbuttons{
        width: 100%;
        float: left;
    }
    .addbuttons .md-ripple {
      background: none !important;
      color: #000 !important;
    }
    .addbuttons .md-ripple .md-button-content i{
      color: #000 !important;
      font-size: 2rem !important;
    }
    p{
        float: left;
        line-height: 4;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 2%;
    }
    .btn{
        margin-left: 41%;
        width: 200px;
    }
</style>
