<template>
  <div>
    <md-table v-if="showselect">
      <md-table-cell
        md-label="Select Form"
        v-if="showselect">
        <md-field>
          <label for="S-Form">Select Form</label>
          <md-select
            name="s-form"
            id="s-form"
            v-model="f_selected"
            @change="onselectname()" >
            <md-option
              class="forwidth"
              v-for="item in formNames"
              :value="item.form_name">
              {{ item.form_name }}
            </md-option>
          </md-select>
        </md-field>
        <!--{{this.f_selected}}-->
      </md-table-cell>
    </md-table>
    <md-table
      v-model="users"
      v-if="showdatatable">
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item }">
        <md-table-cell md-label="Created By">{{ item.created_by }}</md-table-cell>
        <md-table-cell md-label="Date Created">{{ item.creation_date }}</md-table-cell>
        <md-table-cell md-label="Termination Date">{{ item.inactivation_date }}</md-table-cell>
        <md-table-cell md-label="Form Web Link">{{ item.web_link }}</md-table-cell>
        <md-table-cell md-label="Distributed By">{{ item.d_name }}</md-table-cell>
        <md-table-cell md-label="Upload Contacts">
          <md-button
            class="md-just-icon md-simple md-primary "
            @click="uploadclick">
            <md-icon>contact_mail</md-icon>
            <md-tooltip md-direction="top">Upload Emails</md-tooltip>
          </md-button>
          <md-button
            class="md-just-icon md-simple md-primary "
            @click="uploadcontactsclick">
            <md-icon>contact_phone</md-icon>
            <md-tooltip md-direction="top">Upload Phone numbers</md-tooltip>
          </md-button>
        </md-table-cell>

        <md-table-cell md-label="Compose Email or SMS">
          <md-button
            class="md-just-icon md-simple md-primary"
            @click="composepressed">
            <md-icon>edit</md-icon>
            <md-tooltip md-direction="top">Compose</md-tooltip>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
    <div v-if="Activecompose">
      <md-table>
        <md-table-row>
          <md-button
            class="md-button md-primary btnhidden"
            @click="SmsComponentpressed">By SMS</md-button>
          <md-button
            class="md-button md-primary btnhidden"
            @click="EmailComponentpressed">By Email</md-button>
        </md-table-row>
      </md-table>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      v-if="ActiveBySms">
      <md-card>
        <md-card-header data-background-color="green">
          <h4 class="title">SMS</h4>
          <!--<p class="category">Here is a subtitle for this table</p>-->
        </md-card-header>
        <md-card-content>

          <div style="float: left; width: 90%;">
            <form novalidate>
              <md-field>
                <label>Message</label>
                <md-textarea v-model="SmsMessage">{{ this.SmsMessage }}</md-textarea>
              </md-field>
            </form>
          </div>
          <!--<sms-component-->
          <!--v-bind:sms-message="this.LinktoSend"-->
          <!--&gt;</sms-component>-->
        </md-card-content>
      </md-card>
    </div>

    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      v-if="ActiveByEmail">
      <md-card>
        <md-card-header data-background-color="green">
          <h4 class="title">Email</h4>
          <p class="category">(Request respondents to fill your Form and provide other useful details. Link to the Form will be auto-displayed in your email for respondents to click and fill)</p>
        </md-card-header>
        <md-card-content>
          <md-field>
            <label>Mail From Name</label>
            <md-input v-model="emailFrom" placehoder="From Name that will display on user inbox"></md-input>
          </md-field>
          <md-field>
            <label>Mail Subject</label>
            <md-input v-model="emailSubject" placeholder="Email subject that will display on user inbox"></md-input>
          </md-field>
          <div style=" float: left; width: 90%">
            <vue-editor
              v-model="content"
              v-if="ActiveByEmail"/>
              <!--<md-button id="one" class="md-primary" @click="" v-if="">Send</md-button>-->
              <!--<md-button id="two" class="md-primary" @click="" v-if="">Discard</md-button>-->
          </div>
        </md-card-content>
      </md-card>

    </div>

    <md-button
      class="md-button md-primary"
      style="width: 98%;"
      @click="submitform">Distribute</md-button>

    <md-dialog :md-active.sync="active1">
      <md-dialog-title>Press Enter to add Email</md-dialog-title>
      <md-chips
        style="padding: 20px;
    padding-bottom: 0px;"
        v-model="mailid"
        md-placeholder="Add E-mail and enter..."
        v-if="active1"/>
      <div style="display:flex;align-items:baseline">
        <md-field style="flex:1">
          <label>Upload email CSV</label>
          <md-file @md-change="handleCsvImport"></md-file>
        </md-field>
        <md-button class="md-icon-button" @click="onClickCsvImport('email')"><md-icon>arrow_upward</md-icon></md-button>
      </div>
      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="active1 = false">Close</md-button>
        <md-button
          class="md-primary"
          @click="active1 = false">Save</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog :md-active.sync="active2">
      <md-dialog-title>Press Enter to add mobile number</md-dialog-title>
      <md-chips
        style="padding: 20px;
    padding-bottom: 0px;"
        v-model="numbers"
        md-placeholder="Add mobile number and enter..."
        v-if="active2"/>
      <div style="display:flex;align-items:baseline">
        <md-field style="flex:1">
          <label>Upload phone numbers from CSV</label>
          <md-file @md-change="handleCsvImport"></md-file>
        </md-field>
        <md-button class="md-icon-button" @click="onClickCsvImport('number')"><md-icon>arrow_upward</md-icon></md-button>
      </div>
      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="active2 = false">Close</md-button>
        <md-button
          class="md-primary"
          @click="active2 = false">Save</md-button>
      </md-dialog-actions>
    </md-dialog>

  </div>
</template>

<script>
import SmsComponent from '../components/SmsComponent'
import { VueEditor, Quill } from 'vue2-editor'
import axios from 'axios'
import papa from 'papaparse'

export default {
  components: { SmsComponent, Quill, VueEditor },
  name: 'DistributeForms',
  data: () => ({
    formcreator: '',
    content: 'Thanks ',
    emailSubject: '',
    emailFrom: '',
    emailleftover: [],
    smsleftover: [],
    Token: null,
    formNames: [],
    LinktoSend: 'hellloo',
    selected: [],
    users: [],
    dialogboxup: false,
    dialogboxip: false,
    active1: false,
    active2: false,
    value1: null,
    Activecompose: false,
    ActiveBySms: false,
    ActiveByEmail: false,
    formid: '54',
    f_selected: '',
    web_link: '',
    mailid: [],
    numbers: [],
    showselect: false,
    showdatatable: false,
    MobileNumber: [],
    country: [
      { name: 'Afghanistan' },
      {
        name:
                        'Åland Islands'
      }, { name:
                    'Albania' }, { name:
                    'Algeria' }, { name:
                    'American Samoa' }, { name:
                    'Andorra' }, { name:
                    'Angola' }, { name:
                    'Anguilla' }, { name:
                    'Antarctica' }, { name:
                    'Antigua and Barbuda' }, { name:
                    'Argentina' }, { name:
                    'Armenia' }, { name:
                    'Aruba' }, { name:
                    'Australia' }, { name:
                    'Austria' }, { name:
                    'Azerbaijan' }, { name:
                    'Bahamas' }, { name:
                    'Bahrain' }, { name:
                    'Bangladesh' }, { name:
                    'Barbados' }, { name:
                    'Belarus' }, { name:
                    'Belgium' }, { name:
                    'Belize' }, { name:
                    'Benin' }, { name:
                    'Bermuda' }, { name:
                    'Bhutan' }, { name:
                    'Bolivia' },
      { name:
                    'Bonaire' },
      { name:
                    'Bosnia and Herzegovina' }, { name:
                    'Botswana' }, { name:
                    'Bouvet Island' }, { name:
                    'Brazil' }, { name:
                    'British Indian Ocean Territory' }, { name:
                    'Brunei Darussalam' }, { name:
                    'Bulgaria' }, { name:
                    'Burkina Faso' }, { name:
                    'Burundi' }, { name:
                    'Cambodia' }, { name:
                    'Cameroon' }, { name:
                    'Canada' }, { name:
                    'Cape Verde' }, { name:
                    'Cayman Islands' }, { name:
                    'Central African Republic' }, { name:
                    'Chad' }, { name:
                    'Chile' }, { name:
                    'China' }, { name:
                    'Christmas Island' }, { name:
                    'Cocos (Keeling) Islands' }, { name:
                    'Colombia' }, { name:
                    'Comoros' },
      { name: 'Congo' },
      { name: 'Cook Islands' },
      { name:
                    'Costa Rica' }, { name:
                    "Côte d'Ivoire" }, { name:
                    'Croatia' }, { name:
                    'Cuba' }, { name:
                    'Curaçao' }, { name:
                    'Cyprus' }, { name:
                    'Czech Republic' }, { name:
                    'Denmark' }, { name:
                    'Djibouti' }, { name:
                    'Dominica' }, { name:
                    'Dominican Republic' }, { name:
                    'Ecuador' }, { name:
                    'Egypt' }, { name:
                    'El Salvador' }, { name:
                    'Equatorial Guinea' }, { name:
                    'Eritrea' }, { name:
                    'Estonia' }, { name:
                    'Ethiopia' }, { name:
                    'Falkland Islands (Malvinas)' }, { name:
                    'Faroe Islands' }, { name:
                    'Fiji' }, { name:
                    'Finland' }, { name:
                    'France' }, { name:
                    'French Guiana' }, { name:
                    'French Polynesia' }, { name:
                    'French Southern Territories' }, { name:
                    'Gabon' }, { name:
                    'Gambia' }, { name:
                    'Georgia' }, { name:
                    'Germany' }, { name:
                    'Ghana' }, { name:
                    'Gibraltar' }, { name:
                    'Greece' }, { name:
                    'Greenland' }, { name:
                    'Grenada' }, { name:
                    'Guadeloupe' }, { name:
                    'Guam' }, { name:
                    'Guatemala' }, { name:
                    'Guernsey' }, { name:
                    'Guinea' }, { name:
                    'Guinea-Bissau' }, { name:
                    'Guyana' }, { name:
                    'Haiti' }, { name:
                    'Heard Island and McDonald Islands' }, { name:
                    'Holy See (Vatican City State)' }, { name:
                    'Honduras' }, { name:
                    'Hong Kong' }, { name:
                    'Hungary' }, { name:
                    'Iceland' }, { name:
                    'India' }, { name:
                    'Indonesia' }, { name:
                    'Iran' }, { name:
                    'Iraq' }, { name:
                    'Ireland' }, { name:
                    'Isle of Man' }, { name:
                    'Israel' }, { name:
                    'Italy' }, { name:
                    'Jamaica' }, { name:
                    'Japan' }, { name:
                    'Jersey' }, { name:
                    'Jordan' }, { name:
                    'Kazakhstan' }, { name:
                    'Kenya' }, { name:
                    'Kiribati' }, { name:
                    'Korea' }, { name:
                    'Kuwait' }, { name:
                    'Kyrgyzstan' }, { name:
                    "Lao People's Democratic Republic" }, { name:
                    'Latvia' }, { name:
                    'Lebanon' }, { name:
                    'Lesotho' }, { name:
                    'Liberia' }, { name:
                    'Libya' }, { name:
                    'Liechtenstein' }, { name:
                    'Lithuania' }, { name:
                    'Luxembourg' }, { name:
                    'Macao' }, { name:
                    'Macedonia' }, { name:
                    'Madagascar' }, { name:
                    'Malawi' }, { name:
                    'Malaysia' }, { name:
                    'Maldives' }, { name:
                    'Mali' }, { name:
                    'Malta' }, { name:
                    'Marshall Islands' }, { name:
                    'Martinique' }, { name:
                    'Mauritania' }, { name:
                    'Mauritius' }, { name:
                    'Mayotte' }, { name:
                    'Mexico' }, { name:
                    'Micronesia' }, { name:
                    'Moldova' }, { name:
                    'Monaco' }, { name:
                    'Mongolia' }, { name:
                    'Montenegro' }, { name:
                    'Montserrat' }, { name:
                    'Morocco' }, { name:
                    'Mozambique' }, { name:
                    'Myanmar' }, { name:
                    'Namibia' }, { name:
                    'Nauru' }, { name:
                    'Nepal' }, { name:
                    'Netherlands' }, { name:
                    'New Caledonia' }, { name:
                    'New Zealand' }, { name:
                    'Nicaragua' }, { name:
                    'Niger' }, { name:
                    'Nigeria' }, { name:
                    'Niue' }, { name:
                    'Norfolk Island' }, { name:
                    'Northern Mariana Islands' }, { name:
                    'Norway' }, { name:
                    'Oman' }, { name:
                    'Pakistan' }, { name:
                    'Palau' }, { name:
                    'Palestine},{name : State of' }, { name:
                    'Panama' }, { name:
                    'Papua New Guinea' }, { name:
                    'Paraguay' }, { name:
                    'Peru' }, { name:
                    'Philippines' }, { name:
                    'Pitcairn' }, { name:
                    'Poland' }, { name:
                    'Portugal' }, { name:
                    'Puerto Rico' }, { name:
                    'Qatar' }, { name:
                    'Réunion' }, { name:
                    'Romania' }, { name:
                    'Russian Federation' }, { name:
                    'Rwanda' }, { name:
                    'Saint Barthélemy' }, { name:
                    'Saint Helena' }, { name:
                    'Saint Kitts and Nevis' }, { name:
                    'Saint Lucia' }, { name:
                    'Saint Martin (French part)' }, { name:
                    'Saint Pierre and Miquelon' }, { name:
                    'Saint Vincent and the Grenadines' }, { name:
                    'Samoa' }, { name:
                    'San Marino' }, { name:
                    'Sao Tome and Principe' }, { name:
                    'Saudi Arabia' }, { name:
                    'Senegal' }, { name:
                    'Serbia' }, { name:
                    'Seychelles' }, { name:
                    'Sierra Leone' }, { name:
                    'Singapore' }, { name:
                    'Sint Maarten (Dutch part)' }, { name:
                    'Slovakia' }, { name:
                    'Slovenia' }, { name:
                    'Solomon Islands' }, { name:
                    'Somalia' }, { name:
                    'South Africa' }, { name:
                    'South Georgia and the South Sandwich Islands' }, { name:
                    'South Sudan' }, { name:
                    'Spain' }, { name:
                    'Sri Lanka' }, { name:
                    'Sudan' }, { name:
                    'Suriname' }, { name:
                    'Svalbard and Jan Mayen' }, { name:
                    'Swaziland' }, { name:
                    'Sweden' }, { name:
                    'Switzerland' }, { name:
                    'Syrian Arab Republic' }, { name:
                    'Taiwan' }, { name:
                    'Tajikistan' }, { name:
                    'Tanzania' }, { name:
                    'Thailand' }, { name:
                    'Timor-Leste' }, { name:
                    'Togo' }, { name:
                    'Tokelau' }, { name:
                    'Tonga' }, { name:
                    'Trinidad and Tobago' }, { name:
                    'Tunisia' }, { name:
                    'Turkey' }, { name:
                    'Turkmenistan' }, { name:
                    'Turks and Caicos Islands' }, { name:
                    'Tuvalu' }, { name:
                    'Uganda' }, { name:
                    'Ukraine' }, { name:
                    'United Arab Emirates' }, { name:
                    'United Kingdom' }, { name:
                    'United States' }, { name:
                    'United States Minor Outlying Islands' }, { name:
                    'Uruguay' }, { name:
                    'Uzbekistan' }, { name:
                    'Vanuatu' }, { name:
                    'Venezuela' }, { name:
                    'Viet Nam' }, { name:
                    'Virgin Islands' }, { name:
                    'Wallis and Futuna' }, { name:
                    'Western Sahara' }, { name:
                    'Yemen' }, { name:
                    'Zambia' }, { name:
                    'Zimbabwe' }
    ],
    SmsFrom: '',
    SmsMessage: '',
    User_ID: ''
  }),
  watch: {
    f_selected: function () {
      this.users = []
      let i = 0
      let u = JSON.parse(localStorage.getItem('user'))
      while (i < this.formNames.length) {
        if (this.formNames[i].form_name === this.f_selected) {
          let user = {
            creation_date: this.formNames[i].creation_date,
            created_by: this.formNames[i].created_by,
            inactivation_date: this.formNames[i].inactivation_date,
            web_link: '',
            d_name: u.name,
            id: this.formNames[i].id,
            u_id: this.formNames[i].u_id
          }
          this.users.push(user)
        }
        i++
      }
      this.User_ID = localStorage.getItem('u_id')
      this.showdatatable = true
    },
    mailid: function () {
      if (this.mailid != '') {
        this.users[0].web_link = `${process.env.VUE_APP_WEB_URI}/i-p-forms/${this.formid}/${this.User_ID}/${this.User_ID}/i-ProfilerPro`
        this.LinktoSend = `${process.env.VUE_APP_WEB_URI}/i-p-forms/${this.formid}`
      }
    },
    numbers: function () {
      if (this.numbers != '') {
        this.users[0].web_link = `${process.env.VUE_APP_WEB_URI}/i-p-forms/${this.formid}/${this.User_ID}/${this.User_ID}/i-ProfilerPro`
        this.LinktoSend = `${process.env.VUE_APP_WEB_URI}/i-p-forms/${this.formid}`
      }
    },
    formid: function () {
      this.LinktoSend = `${process.env.VUE_APP_WEB_URI}/i-p-forms/${this.formid}`
      this.ActiveByEmail = false
      this.ActiveBySms = false
    }
  },
  methods: {
    uploadcontactsclick () {
      this.active2 = true
      this.formid = this.users[0].id
      this.formcreator = this.users[0].u_id
    },
    uploadclick () {
      this.active1 = true
      this.formid = this.users[0].id
      this.formcreator = this.users[0].u_id
    },
    onselectname () {
      //              console.log('well done')
    },

    submitform () {
      let i = 0
      let aroflinks = []
      let attatchlink = []
      while (i < this.mailid.length) {
        let link = this.LinktoSend + '/'
        link += this.mailid[i].toString()
        aroflinks.push(link)
        attatchlink.push(this.content + '  Link:' + link)
        i++
      }

      var _this = this
      // var U_ID = localStorage.getItem('u_id')
      this.Token = localStorage.getItem('_token')
      let url = `${process.env.VUE_APP_API_URI}/sendsmsandemail`

      var k = 0
      while (k < this.mailid.length) {
        var dataforemail = {
          emails: this.mailid[k],
          econtent: this.content + '  Link:' + this.LinktoSend + '/' + this.formcreator + '/' + this.User_ID + '/' + this.mailid[k],
          numbers: 'forbidden',
          sms: 'forbidden',
          creatorid: this.formcreator,
          distributorid: this.User_ID,
          formid: this.formid,
          emailSubject: this.emailSubject,
          emailFrom: this.emailFrom,
          link: this.LinktoSend + '/' + this.formcreator + '/' + this.User_ID + '/' + this.mailid[k],
          is_distribute: 1
        };
        axios.post(url, dataforemail, {
          headers: {
            Authorization: 'Bearer ' + this.Token
          }
        }).then(function (response) {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear()
            _this.$router.push('login')
          }
        }).catch(function (error) {
          console.log(error)
        })
        k++
      }
      k = 0
      while (k < this.numbers.length) {
        var dataforsms = {
          emails: 'forbidden',
          econtent: 'forbidden',
          numbers: this.numbers[k],
          sms: this.SmsMessage + '  Link: ' + this.LinktoSend + '/' + this.formcreator + '/' + this.User_ID + '/' + this.numbers[k],
          creatorid: this.formcreator,
          distributorid: this.User_ID,
          formid: this.formid,
          link:  this.LinktoSend + '/' + this.formcreator + '/' + this.User_ID + '/' + this.numbers[k],
          is_distribute: 1
        }
        //                    console.log(dataforsms);
        axios.post(url, dataforsms, {
          headers: {
            Authorization: 'Bearer ' + this.Token
          }
        }).then(function (response) {
          //                        console.log(response);
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear()
            _this.$router.push('login')
          }
          var str = response.data.toString()

          if (str.includes('>done<')) {
            alert('SMS Sent')
          } else {
            _this.smsleftover.push(dataforsms)
            console.log(this.smsleftover)
          }
        }).catch(function (error) {
          console.log(error)
        })
        k++
      }

      this.$emit('eventDistributeSuccess', this.f_selected)
    },
    EmailComponentpressed () {
      this.ActiveByEmail = !this.ActiveByEmail
      this.ActiveBySms = false
    },
    SmsComponentpressed () {
      this.ActiveBySms = !this.ActiveBySms
      this.ActiveByEmail = false
    },
    composepressed () {
      this.Activecompose = !this.Activecompose
    },
    takeupid () {
      this.dialogboxup = !this.dialogboxup
    },
    takeipid () {
      this.dialogboxip = !this.dialogboxip
    },
    onSelect: function (items) {
      this.selected = items
    },
    handleCsvImport (fileList) {
      this.csvFile = fileList[0]
    },
    onClickCsvImport (type) {
      let _this = this
      if (this.csvFile) {
        papa.parse(this.csvFile, {
          complete: (result) => {
            for (let i = 0; i < result.data.length; i++) {

              let chip = result.data[i][0]
              if (type === 'email') {
                if (_this.validEmail(chip) && !_this.mailid.includes(chip)) {
                  _this.mailid.push(chip)
                }
              } else if (type === 'number') {
                if (chip && !_this.numbers.includes(chip)) {
                  _this.numbers.push(chip)
                }
              }
            }
          }
        })
      }
    },
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  },
  mounted () {
    var _this = this
    var U_ID = localStorage.getItem('u_id')
    this.Token = localStorage.getItem('_token')
    let url = `${process.env.VUE_APP_API_URI}/get-distributeable-forms`
    axios.get(url, {
      headers: {
        Authorization: 'Bearer ' + this.Token
      }
    }).then(function (response) {
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      var i = 0
      while (i < response.data.length) {
        _this.formNames.push(response.data[i])
        i++
      }
      _this.showselect = true

      //          console.log(_this.formNames);
    })
  }
}
</script>

<style scoped>
    .btn{
        margin-left: 41%;
        width: 200px;
    }
    .btnhidden{
        margin-left: 31%;
        width: 200px;
    }
    .forwidth{
        width:100%;
    }
    .md-table-cell-container{
        text-align: center !important;
        justify-content: center;
    }
</style>
