<template>
  <md-table
    v-model="searched"
    md-sort="form_name"
    md-sort-order="asc"
    md-fixed-header>

    <md-table-toolbar>
      <md-field
        md-clearable
        class="md-toolbar-section-end">
        <md-input
          placeholder="Search by name..."
          v-model="search"
          @input="searchOnTable" />
      </md-field>
    </md-table-toolbar>
    <md-table-row
      slot="md-table-row"
      slot-scope="{ item }">
      <md-table-cell
        md-label="Name"
        md-sort-by="form_name">{{ item.form_name }}</md-table-cell>
      <md-table-cell md-label="Created By">{{ item.created_by }}</md-table-cell>
      <md-table-cell md-label="Date Created">{{ item.creation_date }}</md-table-cell>
      <md-table-cell md-label="Date Active">{{ item.activation_date }}</md-table-cell>
      <md-table-cell md-label="Termination Date">{{ item.inactivation_date }}</md-table-cell>
      <md-table-cell
        md-label="Brand"
        md-sort-by="brand">{{ item.brand }}</md-table-cell>
      <md-table-cell md-label="Download Form">
        <md-button
          class="md-just-icon md-simple md-primary"
          @click="downloadFilledForm(item.id)">
          <md-icon>get_app</md-icon>
          <md-tooltip md-direction="top">Download</md-tooltip>
        </md-button>
      </md-table-cell>
    </md-table-row>

  </md-table>

</template>

<script>
import jsPDF from 'jspdf'
import axios from 'axios'
import excelJs from '../../node_modules/exceljs/dist/exceljs.min'
import saveAs from '../../node_modules/file-saver'

const toLower = text => {
  return text.toString().toLowerCase()
}
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.form_name).includes(toLower(term)))
  }
  return items
}
export default {
  name: 'DownloadFilledForms',
  created: function () {
    var axios = require('axios')
    var _this = this
    var U_ID = localStorage.getItem('u_id')
    this.Token = localStorage.getItem('_token')
    var urlforreq = `${process.env.VUE_APP_API_URI}/getallfilledformnamesbyid/`
    axios.get(urlforreq + U_ID, {
      headers: {
        Authorization: 'Bearer ' + this.Token
      }
    }).then(function (response) {
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      console.log(response.data)
      console.log(response.data.length)
      var i = 0
      while (i < (response.data.length)) {
        var j = 0
        while (j < response.data[i].length) {
          _this.users.push(response.data[i][j])
          console.log(response.data[i].length)
          j++
        }
        i++
      }
      _this.searched = _this.users
      _this.showme = true
    })
  },
  data: () => ({
    Token: '',
    searched: [],
    search: null,
    showme: false,
    selected: [],
    users: [],
    columns: [
      //                {title: "ID", dataKey: "id"},
      //                {title: "Name", dataKey: "name"},
      //                {title: "Country", dataKey: "country"},
    ],
    rows: [
      //        {id: 1, name: "Shaw", country: "Tanzania"},
      //        {id: 2, name: "Nelson", country: "Kazakhstan"},
      //        {id: 3, name: "Garcia", country: "Madagascar"},

    ]
  }),
  methods: {
    searchOnTable () {
      this.searched = searchByName(this.users, this.search)
    },
    downloadFilledForm (formId) {
      let url = `${process.env.VUE_APP_API_URI}/getallfilledformsbyuserid/${formId}`
      let urlGetFields = `${process.env.VUE_APP_API_URI}/dyformgetall/${formId}`
      let _this = this
      let userId = localStorage.getItem('u_id')
      let token = localStorage.getItem('_token')
      let columnHeaders = []
      let columnKeys = []
      //
      // Get fields for column headers
      axios.get(urlGetFields, {
        headers: {
          Authorization: `Bearer ${token}`
        }
      }).then(function (response) {
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }

        // remove last comma and cast into an array
        let foundEmail = false
        let columnTitles = response.data[0].fields.replace(/,\s*$/, '').split(',')
        console.log(columnHeaders)
        for (let i = 0; i < columnTitles.length; i++) {
          let title = columnTitles[i]
          let key = title.replace(/\s+/g, '-').toLowerCase()
          if (columnKeys.indexOf(key) !== -1) {
            key = `key_${i}`
          }
          columnHeaders.push({ key: key, header: title })
          columnKeys.push(key)
          if (key === 'email') {
            foundEmail = true
          }
        }
        if (!foundEmail) {
          columnHeaders.push({ key: 'email', header: 'Email' })
          columnKeys.push('email')
        }
        columnHeaders.push({ key: 'privacy', header: 'Privacy' })
        columnKeys.push('privacy')
        columnHeaders.push({ key: 'date', header: 'Filled Date', width: 18 })
        columnKeys.push('date')
        columnHeaders.push({ key: 'signature', header: 'Signature', width: 50 })
        columnKeys.push('signature')
      })

      // Get row data
      axios.get(url, {
        headers: {
          Authorization: `Bearer ${token}`
        }
      }).then(function (response) {
        console.log(response.data)
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }
        let rowData = response.data
        let path = 'filled_form.xlsx'
        let mimeType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        let workbook = new excelJs.Workbook()
        let sheet = workbook.addWorksheet('My Worksheet')
        sheet.columns = columnHeaders

        for (let i = 0; i < rowData.length; i++) {
          let row = {}
          let cellValues = rowData[i].fields.split(',')
          let foundEmail = false
          let totalColumn = 0;
          for (let j = 0; j < cellValues.length; j++) {
            row[columnKeys[j]] = cellValues[j]
            totalColumn++
            if (columnKeys[j] === 'email') {
              foundEmail = true
            }
          }
          if (!foundEmail) {
            row['email'] = rowData[i].u_email
            totalColumn++
          }
          row['privacy'] = rowData[i].privacy ? 'yes' : 'no'
          totalColumn++

          row['date'] = rowData[i].created_at ? rowData[i].created_at : ''
          totalColumn++

          sheet.addRow(row)
          let myBase64Image = rowData[i].signature ? rowData[i].signature : ''
          if (myBase64Image !== '') {
            let imageId = workbook.addImage({
              base64: myBase64Image,
              extension: 'jpeg'
            })
            let topLeftColCoord = totalColumn
            let topLeftRowCoord = i + 1
            let botRightColCoord = totalColumn + 1
            let botRightRowCoord = i + 2

            sheet.addImage(imageId, {
              tl: { col: topLeftColCoord, row: topLeftRowCoord },
              br: { col: botRightColCoord, row: botRightRowCoord }
            })
          }
        }
        workbook.xlsx.writeBuffer()
          .then(function (data) {
            let blob = new Blob([data], { type: mimeType })
            saveAs(blob, path)
          })
      })
    },
    onSelect: function (items) {
      this.selected = items
    }
  },
  components: {
  }
}
</script>

<style scoped>
    .md-table-cell-container{
        text-align: center !important;
        justify-content: center;
    }
</style>
