<template>
  <div>
    <form
      novalidate
      class="md-layout">
      <!--
      <md-field v-if="showme">
        <md-autocomplete
          v-model="selectedform"
          :md-options="employees"
          :md-open-on-focus="false"
          @click="submitform">
          <label>Search Form Name</label>
          <template
            slot="md-autocomplete-item"
            slot-scope="{ item, term }">
            <md-highlight-text :md-term="term">{{ item }}</md-highlight-text>
          </template>
          <template
            slot="md-autocomplete-empty"
            slot-scope="{ term }">
            Not Found
          </template>
        </md-autocomplete>
      </md-field>
      //-->
      <md-field>
        <label for="S-Form">Select Form</label>
        <md-select
          name="s-form"
          id="s-form"
          v-model="f_selected"
          @change="onselectname()" >
          <md-option
            class="forwidth"
            v-for="item in formNames"
            :value="item.form_name">
            {{ item.form_name }}
          </md-option>
        </md-select>
      </md-field>
      <md-field>
        <label>New Form Name</label>
        <md-input
          type="text"
          id="FormName"
          v-model="NewFormName" />
      </md-field>

      <md-field>
        <label>Created By</label>
        <md-input
          type="text"
          id="Createdby"
          v-model="CreatedBy" />
      </md-field>
      <md-field>
        <label>Date of Creation</label>
        <md-input
          type="text"
          readonly
          id="CreationDate"
          v-model="CreationDate"/>
      </md-field>
      <md-field>
        <label>Purpose</label>
        <md-input
          type="text"
          id="purpose"
          v-model="Purpose" />
      </md-field>
      <md-field>
        <label>Activity Type</label>
        <md-input
          type="text"
          id="activitytype"
          v-model="ActivityType" />
      </md-field>
      <md-field>
        <label>Brand</label>
        <md-input
          type="text"
          id="activitytype"
          v-model="brand" />
      </md-field>

      <md-button
        class="md-just-icon  md-primary"
        @click="showAdate = true">
        <md-icon>event</md-icon>
        <md-tooltip md-direction="top">InActivation Date</md-tooltip>
      </md-button>
      <md-field>
        <label>In-Activation Date</label>
        <md-input
          v-model="ADate"
          readonly
          class="md-primary"/>
      </md-field>
      <date-picker
        @close="showAdate= false"
        v-if="showAdate"
        v-model="ADate"
      />
      <!--<md-datepicker v-model="ADate">-->
      <!--<label>Activation date</label>-->
      <!--</md-datepicker>-->
      <!--<md-datepicker v-model="IADate">-->
      <!--<label>Inactivation date</label>-->
      <!--</md-datepicker>-->
      <md-button
        class="md-just-icon  md-primary"
        @click="showIAdate = true">
        <md-icon>event</md-icon>
        <md-tooltip md-direction="top">InActivation Date</md-tooltip>
      </md-button>
      <md-field>
        <label>In-Activation Date</label>
        <md-input
          v-model="IADate"
          readonly
          class="md-primary"/>
      </md-field>
      <date-picker
        @close="showIAdate= false"
        v-if="showIAdate"
        v-model="IADate"
      />
      <md-progress-bar
        md-mode="indeterminate"
        v-if="sending" />
      <md-card-actions>
        <md-button
          type="button"
          @click="submitform"
          class="md-primary" >Create Form</md-button>
      </md-card-actions>
    </form>
  </div>
</template>

<script>
import DatePicker from 'vue-md-date-picker'
import {
  required,
  email,
  minLength,
  maxLength
} from 'vuelidate/lib/validators'
import axios from 'axios'
export default {
  name: 'SimpleTable',
  props: {
    tableHeaderColor: {
      type: String,
      default: 'green'
    }
  },
  components: {
    DatePicker
  },
  mounted: function () {
    let axios = require('axios')
    let _this = this
    let U_ID = localStorage.getItem('u_id')
    this.Token = localStorage.getItem('_token')
    var urlforreq = `${process.env.VUE_APP_API_URI}/getallformnamesbyid/`
    axios.get(urlforreq + U_ID, {
      headers: {
        Authorization: 'Bearer ' + this.Token
      }
    }).then(function (response) {
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear()
        _this.$router.push('login')
      }
      var i = 0
      while (i < response.data.length) {
        _this.formNames.push(response.data[i])
        i++
      }
      _this.showselect = true
    })
    this.CreationDate = new Date().getDate() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getFullYear()
  },
  data: () => ({
    showAdate: false,
    showIAdate: false,
    Token: '',
    showme: false,
    sending: false,
    // selectedform: null,
    employees: [],
    FormNamesArray: [],
    NewFormName: '',
    CreatedBy: '',
    CreationDate: null,
    Purpose: '',
    ActivityType: '',
    ADate: new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate(),
    IADate: new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate(),
    brand: '',
    f_selected: '',
    formNames: []
  }
  ),
  methods: {
    submitform () {
      let _this = this
      if (this.NewFormName !== '' && this.f_selected !== null && this.CreatedBy !== '' &&
        this.CreationDate != null && this.Purpose !== '' && this.ActivityType !== '' && this.brand !== '') {
        if (this.f_selected !== this.NewFormName) {
          var U_ID = localStorage.getItem('u_id')
          this.Token = localStorage.getItem('_token')
          var urlforreq = `${process.env.VUE_APP_API_URI}/setduplicateform/` + U_ID + '/' + this.f_selected +
                            '/' + this.NewFormName + '/' + this.CreatedBy + '/' + this.CreationDate +
                            '/' + this.Purpose + '/' + this.ActivityType + '/' + this.ADate + '/' + this.IADate +
                            '/' + this.brand
          axios.get(urlforreq, {
            headers: {
              Authorization: 'Bearer ' + this.Token
            }
          }).then(function (response) {
            console.log(response.data)
            if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
              localStorage.clear()
              _this.$router.push('login')
            }
            if (response.data === 'Form Duplicated') {
              // alert('Form Duplicated')
              _this.$emit('eventFormDuplicated', _this.NewFormName)
            }
          })
        } else { alert('write different name to duplicate') }
      } else { alert('fill empty fields') }
    }
  },
  f_selected: function () {
    this.users = []
    //                console.log(this.formNames);
    var i = 0
    var u = JSON.parse(localStorage.getItem('user'))
    while (i < this.formNames.length) {
      //                        console.log(this.formNames[i])
      //                        console.log('f_sellected'+this.f_selected)
      if (this.formNames[i].form_name == this.f_selected) {
        var u_ob = {
          creation_date: this.formNames[i].creation_date,
          created_by: this.formNames[i].created_by,
          inactivation_date: this.formNames[i].inactivation_date,
          web_link: '',
          d_name: u.name,
          id: this.formNames[i].id,
          u_id: this.formNames[i].u_id
        }
        //                            console.log(u.name);
        this.users.push(u_ob)
      }
      i++
    }
    this.User_ID = localStorage.getItem('u_id')
    this.showdatatable = true
  },

}
</script>
<style scoped>
    small {
        display: block;
    }
    .spank {
        margin-left: 20%;
        font-size: 1.5rem;
        font-weight: bold;
        background: #513d3d;
        color: white;
        border: 1px solid;
    }
</style>
