<template>
  <div class="vld-parent">
    <loading :active.sync="isLoading"
             :color="color = '#4caf50'"
             :background-color="color = '#000'"
             :loader="spiner = 'spinner'"
             :height="height = 128"
             :width ="width = 128"
             :is-full-page="fullPage = true"></loading>
  <md-table v-model="forms">
    <md-table-row
      slot="md-table-row"
      slot-scope="{ item }">
      <md-table-cell md-label="Name of Form">{{ item.form_name }}</md-table-cell>
      <md-table-cell md-label="Created By">{{ item.creator.name }}</md-table-cell>
      <md-table-cell md-label="Date Created">{{ item.creation_date }}</md-table-cell>
      <md-table-cell md-label="Activate Date">{{ item.activation_date }}</md-table-cell>
      <md-table-cell md-label="Termination Date">{{ item.inactivation_date }}</md-table-cell>
      <md-table-cell md-label="Total Respondents">{{ item.filled_forms_count }}</md-table-cell>
      <md-table-cell md-label="Last Fill Date">{{ item.latest_filled_form ? item.latest_filled_form.created_at ? item.latest_filled_form.created_at : 'n/a' : 'n/a' }}</md-table-cell>
    </md-table-row>
  </md-table>
  </div>
</template>

<script>
import axios from 'axios';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: 'FormUseTrack',
  components: {
    Loading
  },
  data: () => ({
    forms: [],
    isLoading: false,
  }),
  created () {
    let url = `${process.env.VUE_APP_API_URI}/form-use-track`;
    let token = localStorage.getItem('_token');
    let header = {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    };
    this.isLoading = true;
    axios.get(url, header).then((response) => {
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear();
        this.$router.push('login');
      }
      for (let i = 0; i < response.data.length; i++) {
        this.forms.push(response.data[i]);
      }


    }).catch((error) => {

    }).then(() => {
      this.isLoading = false;
    })
  }
}
</script>

<style scoped>

</style>
