<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item">
        <md-card class="md-card-plain">
          <md-card-header data-background-color="green">
            <h4 class="title">i-Profiler Form</h4>
            <p class="category">Form for {{ this.$route.params.name }}</p>
          </md-card-header>
          <md-card-content v-if="showpreviewform">
            <preview-form
              :fields-add="this.fields"
              :signature-statuss="this.sigstatus"
              :privacystatement="this.privacystatement"
              :radiostatus="this.radiostatus"
              :radioactive="this.radioactive"
              :autoackn="this.autoackn"
              :autocomun="this.autocommun"
              :preview-form-status="this.formstatus"
              :form-id="this.$route.params.f_id"
              :user-email="this.$route.params.name"
              :creator-id="this.$route.params.c_id"
              :distributor-id="this.$route.params.d_id"
            />
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
import PreviewForm from '../components/Tables/PreviewForm'
export default{
  components: { PreviewForm },
  data: () => ({
    Token: '',
    showme: false,
    formname: 'name',
    sigstatus: false,
    radiostatus: false,
    radioactive: false,
    autoackn: 'Email',
    autocommun: 'SMS',
    privacystatement: 'we re an organisation with a strict privacy policy. By submitting your details you are agreed to recieve occasional e-mails from us about events refresh and Special offers',
    ActiveOpenForm: false,
    showpreviewform: false,
    fields: [],
    selected: [],
    users: [],
    FormID: '',
    UserEmail: '',
    formstatus: true
  }),
  created: function () {
    //        console.log('f_id'+this.$route.params.f_id);
    //        console.log('c_id'+this.$route.params.c_id);
    //        console.log('d_id'+this.$route.params.d_id);
    //        console.log('name'+this.$route.params.name);

    var axios = require('axios')
    var v = this.$route.params.f_id
    this.FormID = v
    this.UserEmail = this.$route.params.name
    var _this = this
    var urlforreq = `${process.env.VUE_APP_API_URI}/getsingleformbyidfordistributer`

    var datajson = {
      formid: v,
      creatorid: this.$route.params.c_id,
      distributorid: this.$route.params.d_id
    }

    this.Token = localStorage.getItem('_token')
    var U_ID = localStorage.getItem('u_id')
    if (this.$route.params.d_id == U_ID) {
      this.formstatus = true
      axios.post(urlforreq, datajson, {
        headers: {
          Authorization: 'Bearer ' + this.Token
        }
      }).then(function (response) {
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear()
          _this.$router.push('login')
        }
        console.log(response.data[0])
        _this.privacystatement = response.data[0].privacystatement.split('+').join(' ')
        _this.formname = 'myname'
        //                    console.log('===>'+response.data[0].sig_box);
        if (response.data[0].sig_box == 'active') { _this.sigstatus = true } else _this.sigstatus = 'notactive'

        _this.radiostatus = response.data[0].radio_status
        if (response.data[0].radio_active == 'active') { _this.radioactive = true } else _this.radioactive = 'notactive'

        _this.autoackn = response.data[0].auto_acknowledge
        _this.autocommun = response.data[0].auto_communication
        var arr = response.data[0].fields.split(',')
        arr.pop()

        _this.fields = arr
        console.log(_this.fields)

        _this.showpreviewform = true
      })
      //            document.getElementById('btn').className = 'disabled';
    }
  },
  methods: {

  }
}
</script>
