<template>
  <div class="vld-parent">
    <loading :active.sync="isLoading"
             :can-cancel="true"
             :on-cancel="onCancel"
             :color="color = '#4caf50'"
             :background-color="color = '#000'"
             :loader="spiner = 'spinner'"
             :height="height = 128"
             :width ="width = 128"
             :is-full-page="fullPage"></loading>
    <md-table
      v-model="forms"
      md-sort="form_name"
      md-sort-order="asc"
      >

      <md-table-toolbar>
        <md-field
          md-clearable
          class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable" />
        </md-field>
      </md-table-toolbar>
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item,index }">
        <md-table-cell
          md-label="Name"
          md-sort-by="form_name">{{ item.form_name }}</md-table-cell>
        <md-table-cell md-label="Created By">{{ item.created_by }}</md-table-cell>
        <md-table-cell md-label="Date Created">{{ item.creation_date }}</md-table-cell>
        <md-table-cell md-label="Termination Date">{{ item.inactivation_date }}</md-table-cell>
        <md-table-cell md-label="Link">{{ item.brand }}</md-table-cell>
        <md-table-cell md-label="Upload User Contacts">
          <md-button
            class="md-just-icon md-simple md-primary "
            @click="onClickUpload(item.id)">
            <md-icon>open_in_browser</md-icon>
            <md-tooltip md-direction="top">Upload</md-tooltip>
          </md-button>
          <md-button
            class="md-just-icon md-simple md-accent"
            @click="onClickGrant(item.id)">
            <md-icon>account_balance</md-icon>
            <md-tooltip md-direction="top">Grant Access</md-tooltip>
          </md-button>
        </md-table-cell>
        <md-table-cell md-label="Access Status">{{ item.status }}</md-table-cell>
      </md-table-row>
    </md-table>
    <md-dialog :md-active.sync="isShowUploadEmailDialog">
      <md-dialog-title>Press Enter to add User Email</md-dialog-title>
      <md-chips
        class="md-primary"
        style="padding: 20px 20px 0 20px"
        v-model="chips"
        md-placeholder="Add E-mail and enter..." />
      <div style="display:flex;align-items:baseline">
        <md-field style="flex:1">
          <label>Upload email CSV</label>
          <md-file @md-change="handleCsvImport"></md-file>
        </md-field>
        <md-button class="md-icon-button" @click="onClickCsvImport()"><md-icon>arrow_upward</md-icon></md-button>
      </div>
      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="isShowUploadEmailDialog = false">Close</md-button>
        <md-button
          class="md-primary"
          @click="save">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
import axios from 'axios';
import papa from 'papaparse';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.form_name).includes(toLower(term)));
  }
  return items;
};
export default {
  name: 'GrantAccessForm',
  components: {
    Loading
  },
  data: () => ({
    forms: [],
    search: null,
    isShowUploadEmailDialog: false,
    chips: [],
    csvFile: [],
    links: [],
    failRecipients: [],
    grantingUsers: [],
    currentFormId: null,
    isLoading: false,
    fullPage: true
  }),
  created () {
    let url = `${process.env.VUE_APP_API_URI}/form_permissions`;
    let token = localStorage.getItem('_token');
    let header = {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    };

    this.isLoading = true;
    axios.get(url, header).then((response) => {
      console.log(response.data);
      if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
        localStorage.clear();
        this.$router.push('login');
      }
      for (let i = 0; i < response.data.length; i++) {
        let formId = response.data[i].id;
        let userId = localStorage.getItem('u_id');
        let formUrl = `${process.env.VUE_APP_WEB_URI}/granted-i-p-forms/${formId}/${userId}/l/i-profiler`;
        let admins = response.data[i].administrator;
        let status = 'Not granted';
        if (admins.length > 0) {
          status = '';
          for (let j = 0; j < admins.length; j++) {
            status += admins[j].email + ', ';
          }
        }
        status = status.replace(/,+$/, '');
        if (!this.checkIsActive(response.data[i].inactivation_date)) {
          status = 'Inactive';
        }

        this.forms.push({
          activation_date: response.data[i].activation_date,
          brand: formUrl,
          created_by: response.data[i].created_by,
          creation_date: response.data[i].creation_date,
          form_name: response.data[i].form_name,
          id: response.data[i].id,
          inactivation_date: response.data[i].inactivation_date,
          status: status,
        });
      }
    })
      .catch((error) => {
        console.log(error);
      }).then(() => {
        this.isLoading = false;
      });
  },
  methods: {
    searchOnTable () {
      this.forms = searchByName(this.users, this.search);
    },
    checkIsActive (v) {
      let year = new Date().getFullYear();
      let month = new Date().getMonth();
      let date = new Date().getDate();
      let inactiveDate = v.split('-');
      let isActive = true;

      if (year > inactiveDate[0]) {
        isActive = false;
      } else if (month > inactiveDate[1]) {
        isActive = false;
      } else if (date > inactiveDate[2]) {
        isActive = false;
      }
      return isActive;
    },
    save () {
      this.isShowUploadEmailDialog = false;
      this.links = [];
      this.failRecipients = [];
      this.grantingUsers = [];

      for (let i = 0; i < this.chips.length; i++) {
        let userId = localStorage.getItem('u_id');
        let url = `${process.env.VUE_APP_API_URI}/getuserbyemail/${this.chips[i]}`;
        let token = localStorage.getItem('_token');
        let header = {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        };
        this.isLoading = true;
        axios.get(url, header).then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }

          if (response.data.length > 0) {
            let users = response.data;
            this.links.push(`${process.env.VUE_APP_WEB_URI}` + 'granted-i-p-forms/' + this.currentFormId + '/' + userId + '/' + users[0].id + '/' + users[0].name);
            this.grantingUsers.push({
              form_id: this.currentFormId,
              creator_id: userId,
              distributor_id: users[0].id,
              email: users[0].email,
            });
          } else {
            this.failRecipients.push(this.chips[i]);
          }
          console.log(this.failRecipients);
        }).catch((error) => {
          console.log(error);
        }).then(() => {
          this.isLoading = false;
        });
      }
    },
    onClickUpload (formId) {
      this.currentFormId = formId;
      this.isShowUploadEmailDialog = true;
      this.chips = [];
    },
    onClickGrant (formId) {
      let access = [];
      let index = null;
      let names = '';
      let token = localStorage.getItem('_token');
      let header = {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      };

      if (formId === this.currentFormId) {
        for (let i = 0; i < this.failRecipients.length; i++) {
          let pass = Math.random().toString(36).substr(2, 6);
          this.isLoading = true;
          axios.post(`${process.env.VUE_APP_API_URI}/grant_new_user`, {
            name: this.failRecipients[i],
            email: this.failRecipients[i],
            password: pass,
            password_confirmation: pass,
            form_id: formId,
          }, header)
            .then((response) => {
              //
              names += this.failRecipients[i].email + ', ';
            })
            .catch((error) => {
              console.log(error);
            })
            .then(() => {
              this.isLoading = false;
            });
        }

        for (let i = 0; i < this.grantingUsers.length; i++) {
          if (this.grantingUsers[i].form_id === formId) {
            access.push(this.grantingUsers[i].distributor_id);
            names += this.grantingUsers[i].email + ', ';
            index = i;
          }
        }

        for (let i = 0; i < this.forms.length; i++) {
          if (this.forms[i].id === formId) {
            this.forms[i].status = names;
            break;
          }
        }

        if (index === null) {
          return;
        }

        let accessStr = access.toString();
        let url = `${process.env.VUE_APP_API_URI}/setgrantaccess/${this.grantingUsers[index].form_id}/${accessStr}`;
        this.isLoading = true;
        axios.get(url, header).then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
        }).catch((error) => {
          console.log(error);
        }).then(() => {
          this.isLoading = false;
        });
      }
    },
    handleCsvImport (fileList) {
      this.csvFile = fileList[0];
    },
    onClickCsvImport () {
      if (this.csvFile) {
        papa.parse(this.csvFile, {
          complete: (result) => {
            for (let i = 0; i < result.data.length; i++) {
              let chip = result.data[i][0];

              if (this.validEmail(chip) && !this.chips.includes(chip)) {
                this.chips.push(chip);
              }

            }
          },
        });
      }
    },
    validEmail: function (email) {
      let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    onCancel () {
      // placeholder for vue loader cancel event
    },
  },
};
</script>
<style scooped>
  .btn{
    margin-left: 41%;
    width: 200px;
  }
  .md-table-cell{
    max-width: 100px;
  }
  .md-table-cell-container{
    text-align: center !important;
    justify-content: center;
  }
</style>
