<template>
  <div>
    <form>
      <md-field
        v-for="(rule , index) in segmentRules"
        :id="index">
        <label>{{ rule.field }}</label>
        <md-input readonly v-model="rule.value"/>
        <md-button
          class="md-just-icon"
          @click="removeformfield(index)"
          style="margin: 0;">
          <md-icon>delete</md-icon>
          <md-tooltip class="md-direction-top">Remove Field</md-tooltip>
        </md-button>
      </md-field>
    </form>
    <div class="addbuttons">
      <div>
        <md-button
          id="btn1"
          @click="showRuleForm"
          class="md-fab md-accent md-raised md-icon-button"
          style="float: left; position: relative; background: none !important;color: #000 !important; box-shadow: none !important">
          <md-icon>add</md-icon>
        </md-button>
        <p>Add Rule</p>
      </div>
      <div v-if="isShowRuleForm" style="clear:both">
        <div class="md-layout md-gutter md-alignment-bottom-left">
          <div class="md-layout-item">
            <md-field>
              <md-select @md-selected="onChangeType" v-model="selectedRuleType" name="ruleType" id="ruleType" placeholder="Select a type" >
                <md-option v-for="ruleType in ruleTypes" :value="ruleType.id">{{ ruleType.label }}</md-option>
              </md-select>
            </md-field>
          </div>
          <div class="md-layout-item" v-if="selectedRuleType === 1">
            <md-field>
            <md-select v-model="selectedRuleField" name="ruleFields" id="ruleFields" placeholder="Select a Field" >
              <md-option v-for="ruleField in ruleFields" :value="ruleField">{{ ruleField }}</md-option>
            </md-select>
            </md-field>
          </div>
          <div class="md-layout-item" v-if="selectedRuleType === 1">
            <md-field>
              <label>Type Name of the field</label>
              <md-input v-model="selectedRuleValue" name="ruleValue" id="ruleValue" placeholder="Enter a value" />
            </md-field>
          </div>

          <div class="md-layout-item" v-if="selectedRuleType === 2">
            <md-button
              class="md-just-icon md-primary"
              @click="showFromDate = true">
              <md-icon>event</md-icon>
              <md-tooltip md-direction="top">From Date</md-tooltip>
            </md-button>
            <md-field>
              <label>From Date</label>
              <md-input
                v-model="fromDate"
                readonly
                class="md-primary"/>
            </md-field>
            <date-picker
              @close="showFromDate=false"
              v-if="showFromDate"
              v-model="fromDate"/>
          </div>
          <div class="md-layout-item" v-if="selectedRuleType === 2">
            <md-button
              class="md-just-icon md-primary"
              @click="showToDate = true">
              <md-icon>event</md-icon>
              <md-tooltip md-direction="top">To Date</md-tooltip>
            </md-button>
            <md-field>
              <label>To Date</label>
              <md-input
                v-model="toDate"
                readonly
                class="md-primary"/>
            </md-field>
            <date-picker
              @close="showToDate=false"
              v-if="showToDate"
              v-model="toDate"/>
          </div>

          <div class="md-layout-item" v-if="selectedRuleType === 3">
            <md-field>
              <md-select v-model="selectedRuleCreator" name="ruleCreator" id="ruleCreator" placeholder="Select a Creator" >
                <md-option v-for="ruleCreator in ruleCreators" :value="ruleCreator">{{ ruleCreator }}</md-option>
              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item" v-if="selectedRuleType === 4">
            <md-field>
              <md-select v-model="selectedRuleBrand" name="ruleBrand" id="ruleBrand" placeholder="Select a Brand" >
                <md-option v-for="ruleBrand in ruleBrands" :value="ruleBrand">{{ ruleBrand }}</md-option>
              </md-select>
            </md-field>
          </div>
          <div class="md-layout-item">
          <md-button
            class="md-primary"
            @click="addSegmentRule">Create</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import DatePicker from 'vue-md-date-picker';
export default {
  name: 'SegmentRule',
  props: ['segmentRules'],
  components: {
    DatePicker,
  },
  data () {
    return {
      isShowRuleForm: false,
      ruleFields: [],
      ruleCreators: [],
      ruleBrands: [],
      selectedRuleDateRange: null,
      selectedRuleCreator: null,
      selectedRuleBrand: null,
      selectedRuleField: null,
      selectedRuleValue: null,
      selectedRuleType: 1,
      ruleTypes: [
        {
          id: 1,
          label: 'Field',
        },
        {
          id: 2,
          label: 'Date',
        },
        {
          id: 3,
          label: 'Creator',
        },
        {
          id: 4,
          label: 'Brand',
        },
      ],
      fromDate: null,
      toDate: null,
      showFromDate: false,
      showToDate: false,
      // selectedRuleIsAll: false,
    };
  },
  mounted () {
    if (this.segmentRules) {
      this.ruleFields = this.segmentRules;
    }
    let url = `${process.env.VUE_APP_API_URI}/segment/get_fields`;
    let token = localStorage.getItem('_token');
    let header = {
      headers: { Authorization: 'Bearer ' + token },
    };

    axios.get(url, header)
      .then(response => {
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear();
          this.$router.push('login');
        }
        this.ruleFields = response.data.uniqueFields;
        this.ruleBrands = response.data.uniqueBrands;
        this.ruleCreators = response.data.uniqueCreators;
      })
      .catch((error) => {
        console.log(error);
      })
      .then(() => {

      });
  },
  methods: {
    showRuleForm () {
      this.isShowRuleForm = !this.isShowRuleForm;
    },
    getValidationClass () {
      //
    },
    addSegmentRule () {
      console.log(this.selectedRuleField)
      let rule = {}
      if (this.selectedRuleValue != null || this.selectedRuleBrand || this.selectedRuleCreator || this.fromDate || this.toDate) {
        if (this.fromDate && this.toDate) {
          this.selectedRuleDateRange = `range | ${this.fromDate} | ${this.toDate}`;
        } else if (this.fromDate) {
          this.selectedRuleDateRange = `from | ${this.fromDate}`;
        } else if (this.toDate) {
          this.selectedRuleDateRange = `to | ${this.toDate}`;
        }
        console.log(this.selectedRuleDateRange);
        rule = {
          type: this.selectedRuleType,
          field: this.selectedRuleField ? this.selectedRuleField : this.selectedRuleBrand ? 'brand' : this.selectedRuleCreator ? 'creator' : 'date range',
          value: this.selectedRuleValue ? this.selectedRuleField : this.selectedRuleBrand ? this.selectedRuleBrand : this.selectedRuleCreator ? this.selectedRuleCreator : this.selectedRuleDateRange,
          // is_all: this.selectedRuleIsAll,
        };
        this.segmentRules.push(rule);
      }

      this.selectedRuleField = null;
      this.selectedRuleValue = null;
      this.selectedRuleBrand = null;
      this.selectedRuleCreator = null;
      this.selectedRuleType = 1;

      console.log(rule);
    },
    onChangeType () {
      this.selectedRuleField = null;
      this.selectedRuleValue = null;
      this.selectedRuleBrand = null;
      this.selectedRuleCreator = null;
    },
    removeformfield (index) {
      if (index != null) {
        this.$delete(this.segmentRules, index);
      }
    },
    // greetsignature(){
    //     this.fields.push({
    //         name:this.signature,
    //     });
    // },
  },

};
</script>

<style scoped>
  .addbuttons{
    width: 100%;
    float: left;
  }
  .addbuttons .md-ripple {
    background: none !important;
    color: #000 !important;
  }
  .addbuttons .md-ripple .md-button-content i{
    color: #000 !important;
    font-size: 2rem !important;
  }
  p{
    float: left;
    line-height: 4;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2%;
  }
  .btn{
    margin-left: 41%;
    width: 200px;
  }
</style>
