<template>
  <div>
  <md-table
    v-model="segmentList"
    @md-selected="onSelect">
    <md-table-row
      slot="md-table-row"
      slot-scope="{ item }"
      :class="isDeleted(item.id)"
      >
      <md-table-cell md-label="Name of Segment">{{ item.name }}</md-table-cell>
      <md-table-cell md-label="Segment Description">{{ item.description }}</md-table-cell>
      <md-table-cell md-label="Brand Of Focus">{{ item.brand_of_focus }}</md-table-cell>
      <md-table-cell md-label="Created By">{{ item.creator.name }}</md-table-cell>
      <md-table-cell md-label="Date Created">{{ item.created_at | moment('YYYY-MM-DD') }}</md-table-cell>
      <md-table-cell>

        <md-button class="md-just-icon md-simple md-primary" @click="downloadRespondents(item.id)">
          <md-icon>get_app</md-icon>
          <md-tooltip md-direction="top">Download Respondents</md-tooltip>
        </md-button>
        <md-button class="md-just-icon md-simple md-primary" @click="showEditSegment(item)">
          <md-icon>edit</md-icon>
          <md-tooltip md-direction="top">Edit</md-tooltip>
        </md-button>
        <md-button class="md-just-icon md-simple md-danger" @click="deleteSegment(item)">
          <md-icon>delete</md-icon>
          <md-tooltip md-direction="top">delete</md-tooltip>
        </md-button>
      </md-table-cell>
    </md-table-row>
  </md-table>
  <md-snackbar :md-position="position" :md-duration="duration" :md-active.sync="showSnackbar" md-persistent>
    <span>Segment deleted!</span>
    <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
  </md-snackbar>
    <md-dialog-alert
      :md-active.sync="first"
      md-title="Download respondents!"
      :md-content="successMessage = 'Segment has no respondents.'"
      />
  </div>
</template>

<script>
import axios from 'axios';
import excelJs from '../../node_modules/exceljs/dist/exceljs.min';
import saveAs from '../../node_modules/file-saver';
export default {
  name: 'SegmentList',
  props: ['segmentId'],
  data: () => ({
    selected: [],
    segmentList: [],
    deletedSegment: [],
    showSnackbar: false,
    position: 'center',
    duration: 4000,
    first: false,
  }),
  mounted () {
    let url = `${process.env.VUE_APP_API_URI}/segment`;
    let token = localStorage.getItem('_token');
    let header = {
      headers: { Authorization: 'Bearer ' + token },
    };

    axios.get(url, header)
      .then(response => {
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear();
          this.$router.push('login');
        }
        this.segmentList = response.data;
      })
      .catch((error) => {
        console.log(error);
      })
      .then(() => {

      });
  },
  methods: {
    onSelect: function (items) {
      this.selected = items;
    },
    showEditSegment (segment) {
      this.$emit('update:segment', segment);
      this.$emit('event-segment-edit-click');
    },
    deleteSegment (segment) {
      let url = `${process.env.VUE_APP_API_URI}/segment/${segment.id}`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      axios.delete(url, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          if (response.data.success) {
            this.deletedSegment.push(segment.id);
            this.showSnackbar = true;
          }
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {

        });
    },
    isDeleted (segmentId) {
      for (let i = 0; i < this.deletedSegment.length; i++) {
        if (this.deletedSegment[i] === segmentId) {
          return { 'md-hide': true };
        }
      }
    },
    downloadRespondents (segmentId) {
      let url = `${process.env.VUE_APP_API_URI}/segment/get_respondents/${segmentId}`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      axios.get(url, header)
        .then(response => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          console.log(response);
          if (!response.data.length) {
            this.first = true;
            return;
          }
          let path = 'segment_respondents.xlsx';
          let mimeType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
          let workbook = new excelJs.Workbook();

          let filledForms = response.data;
          for (let index = 0; index < filledForms.length; index++) {
            let columnTitles = filledForms[index].dynamic_form.fields.replace(/,\s*$/, '').split(',');
            let columnKeys = [];
            let columnHeaders = [];
            let foundEmail = false;

            for (let i = 0; i < columnTitles.length; i++) {
              let title = columnTitles[i];
              let key = title.replace(/\s+/g, '-').toLowerCase();
              if (columnKeys.indexOf(key) !== -1) {
                key = `key_${i}`;
              }
              columnHeaders.push({ key: key, header: title })
              columnKeys.push(key);
              if (key === 'email') {
                foundEmail = true;
              }
            }
            if (!foundEmail) {
              columnHeaders.push({ key: 'email', header: 'Email' });
              columnKeys.push('email');
            }
            columnHeaders.push({ key: 'privacy', header: 'Privacy' });
            columnKeys.push('privacy');
            columnHeaders.push({ key: 'date', header: 'Filled Date', width: 18 })
            columnKeys.push('date')
            columnHeaders.push({ key: 'signature', header: 'Signature', width: 50 });
            columnKeys.push('signature');

            let rowData = filledForms[index];
            let sheet = workbook.getWorksheet(rowData.form_metadata.form_name);
            console.log(rowData.form_metadata.form_name);
            if (typeof sheet === 'undefined') {
              sheet = workbook.addWorksheet(rowData.form_metadata.form_name);
              sheet.columns = columnHeaders;
            }
            console.log(sheet.name);

            let row = {};
            let cellValues = rowData.fields.split(',');
            let totalColumn = 0;
            for (let j = 0; j < cellValues.length; j++) {
              row[columnKeys[j]] = cellValues[j];
              totalColumn++;
            }
            console.log('cangtest', row);
            if (!foundEmail) {
              row['email'] = rowData.u_email;
              totalColumn++;
            }
            row['privacy'] = rowData.privacy ? 'yes' : 'no';
            totalColumn++;

            row['date'] = rowData.created_at ? rowData.created_at : ''
            totalColumn++

            sheet.addRow(row);
            let myBase64Image = rowData.signature ? rowData.signature : '';
            if (myBase64Image !== '') {
              let imageId = workbook.addImage({
                base64: myBase64Image,
                extension: 'jpeg',
              });
              let topLeftColCoord = totalColumn;
              let topLeftRowCoord = index + 1;
              let botRightColCoord = totalColumn + 1;
              let botRightRowCoord = index + 2;

              sheet.addImage(imageId, {
                tl: { col: topLeftColCoord, row: topLeftRowCoord },
                br: { col: botRightColCoord, row: botRightRowCoord },
              });
            }
          }
          workbook.xlsx.writeBuffer()
            .then(function (data) {
              let blob = new Blob([data], { type: mimeType })
              saveAs(blob, path);
            });
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {

        });
    },
  },
};
</script>

<style scoped>
    .btn{
        margin-left: 41%;
        width: 200px;
    }
</style>
