<template>
    <div class="vld-loading">
      <loading :active.sync="isLoading"
               :color="color = '#4caf50'"
               :background-color="color = '#000'"
               :loader="spiner = 'spinner'"
               :height="height = 128"
               :width ="width = 128"
               :is-full-page="fullPage = true"></loading>
      <md-table
        v-model="userList"
        @md-selected="onSelect">
        <md-table-row
          slot="md-table-row"
          slot-scope="{ item }"
          :class="isDeleted(item.id)">
          <md-table-cell md-label="id" v-if="isAdministratorRole">{{ item.id }}</md-table-cell>
          <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
          <md-table-cell md-label="Email">{{ item.email }}</md-table-cell>
          <md-table-cell md-label="Mobile">{{ item.mobile }}</md-table-cell>
          <md-table-cell md-label="Country">{{ item.country }}</md-table-cell>
          <md-table-cell md-label="Role">{{ item.roles.length > 0 ? item.roles[0].access : '' }}</md-table-cell>
          <md-table-cell md-label="Team" v-if="isAdministratorRole">{{ item.teams.length > 0 ? item.teams[0].name : '' }}</md-table-cell>
          <md-table-cell md-label="Edit User">
            <md-button class="md-just-icon md-simple md-info" @click="showEditUser(item)">
              <md-icon>edit</md-icon>
              <md-tooltip md-direction="top">Edit</md-tooltip>
            </md-button>
            <md-button class="md-just-icon md-simple md-danger" @click="deleteUser(item)">
              <md-icon>delete</md-icon>
              <md-tooltip md-direction="top">Delete</md-tooltip>
            </md-button>
          </md-table-cell>
        </md-table-row>
      </md-table>
      <md-snackbar :md-position="position" :md-duration="duration" :md-active.sync="showSnackbar" md-persistent>
        <span>User deleted!</span>
        <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
      </md-snackbar>
    </div>
</template>

<script>
import axios from 'axios';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
  name: 'UserList',
  props: ['user'],
  components: { Loading },
  data: () => ({
    userList: [],
    deletedUsers: [],
    isLoading: false,
    isAdministratorRole: false,
    showSnackbar: false,
    position: 'center',
    duration: 4000,
  }),
  mounted () {
    let role = localStorage.getItem('role');
    if (role === 'administrator') {
      this.isAdministratorRole = true;
    }
    let url = `${process.env.VUE_APP_API_URI}/user-list`;
    let token = localStorage.getItem('_token');
    let header = {
      headers: { Authorization: 'Bearer ' + token },
    };
    this.isLoading = true;
    axios.get(url, header)
      .then((response) => {
        if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
          localStorage.clear();
          this.$router.push('login');
        }
        this.userList = response.data;
        console.log(this.userList);
      })
      .catch((error) => {
        console.log(error);
      })
      .then(() => {
        this.isLoading = false;
      });
  },
  methods: {
    onSelect: function (items) {
      this.selected = items;
    },
    showEditUser (user) {
      this.$emit('update:user', user);
      this.$emit('event-user-edit-click');
    },
    deleteUser (user) {
      let url = `${process.env.VUE_APP_API_URI}/user/${user.id}`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      axios.delete(url, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          if (response.data.success) {
            this.deletedUsers.push(user.id);
            this.showSnackbar = true;
          }
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {

        });
    },
    isDeleted (userId) {
      for (let i = 0; i < this.deletedUsers.length; i++) {
        if (this.deletedUsers[i] === userId) {
          return { 'md-hide': true };
        }
      }
    },
  },
};
</script>
