<template>
  <div class="vld-parent">
    <loading :active.sync="isLoading"
             :color="color = '#4caf50'"
             :background-color="color = '#000'"
             :loader="spiner = 'spinner'"
             :height="height = 128"
             :width ="width = 128"
             :is-full-page="fullPage = true"></loading>
    <form @submit.prevent="validateUser" novalidate>
      <md-field>
        <label>Name</label>
        <md-input v-model="form.name" :disable="isLoading"/>
        <span class="md-error" v-if="!$v.form.name.required">Name is required</span>
      </md-field>
      <md-field>
        <label>Organization</label>
        <md-input v-model="form.organization" :disabled="isLoading"/>
        <span class="md-error" v-if="!$v.form.organization.required">Organization is required</span>
      </md-field>
      <md-field>
        <label>Mobile Number</label>
        <md-input v-model="form.mobile" :disabled="isLoading"/>
      </md-field>
      <md-field>
        <label for="S-Form">Select Country</label>
        <md-select
          name="s-form"
          id="s-form"
          v-model="form.country"
          >
          <md-option
            class="forwidth"
            v-for="item in countries"
            :value="item.name">
            {{ item.name }}
          </md-option>
        </md-select>
        <span class="md-error" v-if="!$v.form.country.required">Country is required</span>
      </md-field>
      <md-field>
        <label>Sender Email Address to Respondents (read-only)</label>
        <md-input v-model="form.email" readonly />
      </md-field>
      <div
        class="md-layout-item md-small-size-100"
        style="padding: 0; width: 30%;">
        <md-field>
          <label>Plan (read-only)</label>
          <md-input v-model="form.plan" readonly style="text-transform: capitalize"/>
        </md-field>
      </div>
      <md-field>
        <label>Messaging Bits Balance (read-only)</label>
        <md-input v-model="form.balance" readonly/>
      </md-field>
      <md-button class="md-primary" :disabled="isLoading" type="submit">Update Profile</md-button>
    </form>
    <md-dialog-alert
      :md-active.sync="first"
      md-title="User Profile!"
      md-content="User profile was updated." />
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';
import axios from 'axios';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  components: { Loading },
  mixins: [validationMixin],
  name: 'UserProfileEdit',
  created () {
    let url = `${process.env.VUE_APP_API_URI}/user-details`;
    let token = localStorage.getItem('_token');
    let header = {
      headers: {
        Authorization: `Bearer ${token}`,
      },
    };
    this.isLoading = true;
    axios.get(url, header).then((response) => {
      console.log(response.data);
      let user = response.data;
      this.form.name = user.name;
      this.form.organization = user.organizations;
      this.form.mobile = user.mobile;
      this.form.country = user.country;
      this.form.email = user.email;
      this.form.plan = user.roles[0].access + ' Plan';
    }).catch((error) => {

    }).then(() => {
      this.isLoading = false;
    })
  },
  validations: {
    form: {
      name: { required },
      organization: { required },
      country: { required },
    },
  },
  methods: {
    updateUser () {
      this.isLoading = true;
      let url = `${process.env.VUE_APP_API_URI}/update-user`;
      let token = localStorage.getItem('_token');
      let header = {
        headers: { Authorization: 'Bearer ' + token },
      };
      let postData = {
        name: this.form.name,
        organization: this.form.organization,
        mobile: this.form.mobile,
        country: this.form.country,
      };
      axios.post(url, postData, header)
        .then((response) => {
          if (response.data['status'] === 'Token is Expired' || response.data['status'] === 'Token is Invalid') {
            localStorage.clear();
            this.$router.push('login');
          }
          this.first = true;
        })
        .catch((error) => {
          console.log(error);
        })
        .then(() => {
          this.isLoading = false;
        });
    },
    validateUser () {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.updateUser();
      }
    },
  },
  data: () => ({
    isLoading: false,
    first: false,
    form: {
      name: null,
      organization: null,
      mobile: null,
      country: null,
      email: null,
      plan: null,
      balance: 0,
    },
    countries: [
      { name: 'Afghanistan' },
      { name: 'Åland Islands' },
      { name: 'Albania' },
      { name: 'Algeria' },
      { name: 'American Samoa' },
      { name: 'Andorra' },
      { name: 'Angola' },
      { name: 'Anguilla' },
      { name: 'Antarctica' },
      { name: 'Antigua and Barbuda' },
      { name: 'Argentina' },
      { name: 'Armenia' },
      { name: 'Aruba' },
      { name: 'Australia' },
      { name: 'Austria' },
      { name: 'Azerbaijan' },
      { name: 'Bahamas' },
      { name: 'Bahrain' },
      { name: 'Bangladesh' },
      { name: 'Barbados' },
      { name: 'Belarus' },
      { name: 'Belgium' },
      { name: 'Belize' },
      { name: 'Benin' },
      { name: 'Bermuda' },
      { name: 'Bhutan' },
      { name: 'Bolivia' },
      { name: 'Bonaire' },
      { name: 'Bosnia and Herzegovina' },
      { name: 'Botswana' },
      { name: 'Bouvet Island' },
      { name: 'Brazil' },
      { name: 'British Indian Ocean Territory' },
      { name: 'Brunei Darussalam' },
      { name: 'Bulgaria' },
      { name: 'Burkina Faso' },
      { name: 'Burundi' },
      { name: 'Cambodia' },
      { name: 'Cameroon' },
      { name: 'Canada' },
      { name: 'Cape Verde' },
      { name: 'Cayman Islands' },
      { name: 'Central African Republic' },
      { name: 'Chad' },
      { name: 'Chile' },
      { name: 'China' },
      { name: 'Christmas Island' },
      { name: 'Cocos (Keeling) Islands' },
      { name: 'Colombia' },
      { name: 'Comoros' },
      { name: 'Congo' },
      { name: 'Cook Islands' },
      { name: 'Costa Rica' },
      { name: "Côte d'Ivoire" },
      { name: 'Croatia' },
      { name: 'Cuba' },
      { name: 'Curaçao' },
      { name: 'Cyprus' },
      { name: 'Czech Republic' },
      { name: 'Denmark' },
      { name: 'Djibouti' },
      { name: 'Dominica' },
      { name: 'Dominican Republic' },
      { name: 'Ecuador' },
      { name: 'Egypt' },
      { name: 'El Salvador' },
      { name: 'Equatorial Guinea' },
      { name: 'Eritrea' },
      { name: 'Estonia' },
      { name: 'Ethiopia' },
      { name: 'Falkland Islands (Malvinas)' },
      { name: 'Faroe Islands' },
      { name: 'Fiji' },
      { name: 'Finland' },
      { name: 'France' },
      { name: 'French Guiana' },
      { name: 'French Polynesia' },
      { name: 'French Southern Territories' },
      { name: 'Gabon' },
      { name: 'Gambia' },
      { name: 'Georgia' },
      { name: 'Germany' },
      { name: 'Ghana' },
      { name: 'Gibraltar' },
      { name: 'Greece' },
      { name: 'Greenland' },
      { name: 'Grenada' },
      { name: 'Guadeloupe' },
      { name: 'Guam' },
      { name: 'Guatemala' },
      { name: 'Guernsey' },
      { name: 'Guinea' },
      { name: 'Guinea-Bissau' },
      { name: 'Guyana' },
      { name: 'Haiti' },
      { name: 'Heard Island and McDonald Islands' },
      { name: 'Holy See (Vatican City State)' },
      { name: 'Honduras' },
      { name: 'Hong Kong' },
      { name: 'Hungary' },
      { name: 'Iceland' },
      { name: 'India' },
      { name: 'Indonesia' },
      { name: 'Iran' },
      { name: 'Iraq' },
      { name: 'Ireland' },
      { name: 'Isle of Man' },
      { name: 'Israel' },
      { name: 'Italy' },
      { name: 'Jamaica' },
      { name: 'Japan' },
      { name: 'Jersey' },
      { name: 'Jordan' },
      { name: 'Kazakhstan' },
      { name: 'Kenya' },
      { name: 'Kiribati' },
      { name: 'Korea' },
      { name: 'Kuwait' },
      { name: 'Kyrgyzstan' },
      { name: "Lao People's Democratic Republic" },
      { name: 'Latvia' },
      { name: 'Lebanon' },
      { name: 'Lesotho' },
      { name: 'Liberia' },
      { name: 'Libya' },
      { name: 'Liechtenstein' },
      { name: 'Lithuania' },
      { name: 'Luxembourg' },
      { name: 'Macao' },
      { name: 'Macedonia' },
      { name: 'Madagascar' },
      { name: 'Malawi' },
      { name: 'Malaysia' },
      { name: 'Maldives' },
      { name: 'Mali' },
      { name: 'Malta' },
      { name: 'Marshall Islands' },
      { name: 'Martinique' },
      { name: 'Mauritania' },
      { name: 'Mauritius' },
      { name: 'Mayotte' },
      { name: 'Mexico' },
      { name: 'Micronesia' },
      { name: 'Moldova' },
      { name: 'Monaco' },
      { name: 'Mongolia' },
      { name: 'Montenegro' },
      { name: 'Montserrat' },
      { name: 'Morocco' },
      { name: 'Mozambique' },
      { name: 'Myanmar' },
      { name: 'Namibia' },
      { name: 'Nauru' },
      { name: 'Nepal' },
      { name: 'Netherlands' },
      { name: 'New Caledonia' },
      { name: 'New Zealand' },
      { name: 'Nicaragua' },
      { name: 'Niger' },
      { name: 'Nigeria' },
      { name: 'Niue' },
      { name: 'Norfolk Island' },
      { name: 'Northern Mariana Islands' },
      { name: 'Norway' },
      { name: 'Oman' },
      { name: 'Pakistan' },
      { name: 'Palau' },
      { name: 'Palestine},{name : State of' },
      { name: 'Panama' },
      { name: 'Papua New Guinea' },
      { name: 'Paraguay' },
      { name: 'Peru' },
      { name: 'Philippines' },
      { name: 'Pitcairn' },
      { name: 'Poland' },
      { name: 'Portugal' },
      { name: 'Puerto Rico' },
      { name: 'Qatar' },
      { name: 'Réunion' },
      { name: 'Romania' },
      { name: 'Russian Federation' },
      { name: 'Rwanda' },
      { name: 'Saint Barthélemy' },
      { name: 'Saint Helena' },
      { name: 'Saint Kitts and Nevis' },
      { name: 'Saint Lucia' },
      { name: 'Saint Martin (French part)' },
      { name: 'Saint Pierre and Miquelon' },
      { name: 'Saint Vincent and the Grenadines' },
      { name: 'Samoa' },
      { name: 'San Marino' },
      { name: 'Sao Tome and Principe' },
      { name: 'Saudi Arabia' },
      { name: 'Senegal' },
      { name: 'Serbia' },
      { name: 'Seychelles' },
      { name: 'Sierra Leone' },
      { name: 'Singapore' },
      { name: 'Sint Maarten (Dutch part)' },
      { name: 'Slovakia' },
      { name: 'Slovenia' },
      { name: 'Solomon Islands' },
      { name: 'Somalia' },
      { name: 'South Africa' },
      { name: 'South Georgia and the South Sandwich Islands' },
      { name: 'South Sudan' },
      { name: 'Spain' },
      { name: 'Sri Lanka' },
      { name: 'Sudan' },
      { name: 'Suriname' },
      { name: 'Svalbard and Jan Mayen' },
      { name: 'Swaziland' },
      { name: 'Sweden' },
      { name: 'Switzerland' },
      { name: 'Syrian Arab Republic' },
      { name: 'Taiwan' },
      { name: 'Tajikistan' },
      { name: 'Tanzania' },
      { name: 'Thailand' },
      { name: 'Timor-Leste' },
      { name: 'Togo' },
      { name: 'Tokelau' },
      { name: 'Tonga' },
      { name: 'Trinidad and Tobago' },
      { name: 'Tunisia' },
      { name: 'Turkey' },
      { name: 'Turkmenistan' },
      { name: 'Turks and Caicos Islands' },
      { name: 'Tuvalu' },
      { name: 'Uganda' },
      { name: 'Ukraine' },
      { name: 'United Arab Emirates' },
      { name: 'United Kingdom' },
      { name: 'United States' },
      { name: 'United States Minor Outlying Islands' },
      { name: 'Uruguay' },
      { name: 'Uzbekistan' },
      { name: 'Vanuatu' },
      { name: 'Venezuela' },
      { name: 'Viet Nam' },
      { name: 'Virgin Islands' },
      { name: 'Wallis and Futuna' },
      { name: 'Western Sahara' },
      { name: 'Yemen' },
      { name: 'Zambia' },
      { name: 'Zimbabwe' },
    ],
  }),
}
</script>

<style scoped>
    .md-menu-content{
     max-width: 74%;
    }

</style>
