<template>
  <div style="float: left; width: 90%;">

    <form novalidate>
      <!--<div class="md-layout-item md-small-size-100" style="padding: 0;">-->
      <!--<md-field>-->
      <!--<label >Country</label>-->
      <!--<md-select name="country" id="country" >-->
      <!--<md-option v-for="item in country" value="item.name">{{item.name}}</md-option>-->
      <!--</md-select>-->
      <!--<span class="md-error">The gender is required</span>-->
      <!--</md-field>-->
      <!--</div>-->

      <!--<md-field>-->
      <!--<label>From</label>-->
      <!--<md-input v-model="SmsFrom"></md-input>-->
      <!--</md-field>-->

      <!--<md-field>-->
      <!--&lt;!&ndash;<label>TO(Recipient)</label>&ndash;&gt;-->
      <!--<md-chips v-model="MobileNumber" md-placeholder="Add Recipient and enter..."></md-chips>-->
      <!--</md-field>-->

      <md-field>
        <label>Message</label>
        <md-textarea v-model="SmsMessage">{{ this.SmsMessage }}</md-textarea>
      </md-field>

      <!--<label class="container">Send Now-->
      <!--<input v-model="active1" value="false" type="radio" checked="checked" name="r-check">-->
      <!--<span class="checkmark"></span>-->
      <!--</label>-->
      <!--<label class="container">Send Later-->
      <!--<input v-model="active1" value="true"  type="radio" checked="checked" name="r-check">-->
      <!--<span class="checkmark"></span>-->
      <!--</label>-->

      <!--<div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100" v-if="active1" >-->
      <!--<md-card>-->
      <!--<md-card-header data-background-color="green">-->
      <!--<h4 class="title">Make Schedule</h4>-->
      <!--</md-card-header>-->
      <!--<md-card-content>-->
      <!--<md-datepicker>-->
      <!--<label>Pick Date</label>-->
      <!--</md-datepicker>-->
      <!--<md-field>-->
      <!--<vue-timepicker title="Pick Time" style="border: 0; width: 100%">-->
      <!--</vue-timepicker>-->
      <!--</md-field>-->
      <!--</md-card-content>-->
      <!--<md-button @click="active1 = !active1" class="md-primary" style="float: right">Done</md-button>-->
      <!--</md-card>-->
      <!--</div>-->
      <!--<md-button id="two" class="md-primary" @click="active3 = !active3" v-if="ActiveScheduleRule1">Xxx Hours After Registration</md-button>-->

      <!--<label class="container">Flash-->
      <!--<input type="checkbox" checked="checked" name="r-check">-->
      <!--<span class="checkmark" style="border-radius: 0;"></span>-->
      <!--</label>-->

      <!--<md-card-actions>-->
      <!--<md-button type="submit" class="md-primary" @click="">Send</md-button>-->
      <!--</md-card-actions>-->
    </form>

  </div>
</template>

<script>

//    import MdDropDownIcon from "../../node_modules/vue-material/src/core/icons/MdDropDownIcon.vue";

//    import MdDropDownIcon from "../../node_modules/vue-material/src/core/icons/MdDropDownIcon.vue";
import VueTimepicker from 'vue2-timepicker'
export default {
  name: 'SmsComponent',
  props: {
    SmsMessage: { type: String, default: '' },
    //            SmsMessage:{
    //                type:String,default:'Link is not available'
    //            },
    //            MobileNumber:{type:Array,default:[]},
    SmsFrom: { type: String, default: '' }
  },
  data: () => ({
    MobileNumber: [],
    country: [
      { name: 'Afghanistan' },
      {
        name:
                        'Åland Islands'
      }, { name:
                        'Albania' }, { name:
                        'Algeria' }, { name:
                        'American Samoa' }, { name:
                        'Andorra' }, { name:
                        'Angola' }, { name:
                        'Anguilla' }, { name:
                        'Antarctica' }, { name:
                        'Antigua and Barbuda' }, { name:
                        'Argentina' }, { name:
                        'Armenia' }, { name:
                        'Aruba' }, { name:
                        'Australia' }, { name:
                        'Austria' }, { name:
                        'Azerbaijan' }, { name:
                        'Bahamas' }, { name:
                        'Bahrain' }, { name:
                        'Bangladesh' }, { name:
                        'Barbados' }, { name:
                        'Belarus' }, { name:
                        'Belgium' }, { name:
                        'Belize' }, { name:
                        'Benin' }, { name:
                        'Bermuda' }, { name:
                        'Bhutan' }, { name:
                        'Bolivia' },
      { name:
                        'Bonaire' },
      { name:
                        'Bosnia and Herzegovina' }, { name:
                        'Botswana' }, { name:
                        'Bouvet Island' }, { name:
                        'Brazil' }, { name:
                        'British Indian Ocean Territory' }, { name:
                        'Brunei Darussalam' }, { name:
                        'Bulgaria' }, { name:
                        'Burkina Faso' }, { name:
                        'Burundi' }, { name:
                        'Cambodia' }, { name:
                        'Cameroon' }, { name:
                        'Canada' }, { name:
                        'Cape Verde' }, { name:
                        'Cayman Islands' }, { name:
                        'Central African Republic' }, { name:
                        'Chad' }, { name:
                        'Chile' }, { name:
                        'China' }, { name:
                        'Christmas Island' }, { name:
                        'Cocos (Keeling) Islands' }, { name:
                        'Colombia' }, { name:
                        'Comoros' },
      { name: 'Congo' },
      { name: 'Cook Islands' },
      { name:
                        'Costa Rica' }, { name:
                        "Côte d'Ivoire" }, { name:
                        'Croatia' }, { name:
                        'Cuba' }, { name:
                        'Curaçao' }, { name:
                        'Cyprus' }, { name:
                        'Czech Republic' }, { name:
                        'Denmark' }, { name:
                        'Djibouti' }, { name:
                        'Dominica' }, { name:
                        'Dominican Republic' }, { name:
                        'Ecuador' }, { name:
                        'Egypt' }, { name:
                        'El Salvador' }, { name:
                        'Equatorial Guinea' }, { name:
                        'Eritrea' }, { name:
                        'Estonia' }, { name:
                        'Ethiopia' }, { name:
                        'Falkland Islands (Malvinas)' }, { name:
                        'Faroe Islands' }, { name:
                        'Fiji' }, { name:
                        'Finland' }, { name:
                        'France' }, { name:
                        'French Guiana' }, { name:
                        'French Polynesia' }, { name:
                        'French Southern Territories' }, { name:
                        'Gabon' }, { name:
                        'Gambia' }, { name:
                        'Georgia' }, { name:
                        'Germany' }, { name:
                        'Ghana' }, { name:
                        'Gibraltar' }, { name:
                        'Greece' }, { name:
                        'Greenland' }, { name:
                        'Grenada' }, { name:
                        'Guadeloupe' }, { name:
                        'Guam' }, { name:
                        'Guatemala' }, { name:
                        'Guernsey' }, { name:
                        'Guinea' }, { name:
                        'Guinea-Bissau' }, { name:
                        'Guyana' }, { name:
                        'Haiti' }, { name:
                        'Heard Island and McDonald Islands' }, { name:
                        'Holy See (Vatican City State)' }, { name:
                        'Honduras' }, { name:
                        'Hong Kong' }, { name:
                        'Hungary' }, { name:
                        'Iceland' }, { name:
                        'India' }, { name:
                        'Indonesia' }, { name:
                        'Iran' }, { name:
                        'Iraq' }, { name:
                        'Ireland' }, { name:
                        'Isle of Man' }, { name:
                        'Israel' }, { name:
                        'Italy' }, { name:
                        'Jamaica' }, { name:
                        'Japan' }, { name:
                        'Jersey' }, { name:
                        'Jordan' }, { name:
                        'Kazakhstan' }, { name:
                        'Kenya' }, { name:
                        'Kiribati' }, { name:
                        'Korea' }, { name:
                        'Kuwait' }, { name:
                        'Kyrgyzstan' }, { name:
                        "Lao People's Democratic Republic" }, { name:
                        'Latvia' }, { name:
                        'Lebanon' }, { name:
                        'Lesotho' }, { name:
                        'Liberia' }, { name:
                        'Libya' }, { name:
                        'Liechtenstein' }, { name:
                        'Lithuania' }, { name:
                        'Luxembourg' }, { name:
                        'Macao' }, { name:
                        'Macedonia' }, { name:
                        'Madagascar' }, { name:
                        'Malawi' }, { name:
                        'Malaysia' }, { name:
                        'Maldives' }, { name:
                        'Mali' }, { name:
                        'Malta' }, { name:
                        'Marshall Islands' }, { name:
                        'Martinique' }, { name:
                        'Mauritania' }, { name:
                        'Mauritius' }, { name:
                        'Mayotte' }, { name:
                        'Mexico' }, { name:
                        'Micronesia' }, { name:
                        'Moldova' }, { name:
                        'Monaco' }, { name:
                        'Mongolia' }, { name:
                        'Montenegro' }, { name:
                        'Montserrat' }, { name:
                        'Morocco' }, { name:
                        'Mozambique' }, { name:
                        'Myanmar' }, { name:
                        'Namibia' }, { name:
                        'Nauru' }, { name:
                        'Nepal' }, { name:
                        'Netherlands' }, { name:
                        'New Caledonia' }, { name:
                        'New Zealand' }, { name:
                        'Nicaragua' }, { name:
                        'Niger' }, { name:
                        'Nigeria' }, { name:
                        'Niue' }, { name:
                        'Norfolk Island' }, { name:
                        'Northern Mariana Islands' }, { name:
                        'Norway' }, { name:
                        'Oman' }, { name:
                        'Pakistan' }, { name:
                        'Palau' }, { name:
                        'Palestine},{name : State of' }, { name:
                        'Panama' }, { name:
                        'Papua New Guinea' }, { name:
                        'Paraguay' }, { name:
                        'Peru' }, { name:
                        'Philippines' }, { name:
                        'Pitcairn' }, { name:
                        'Poland' }, { name:
                        'Portugal' }, { name:
                        'Puerto Rico' }, { name:
                        'Qatar' }, { name:
                        'Réunion' }, { name:
                        'Romania' }, { name:
                        'Russian Federation' }, { name:
                        'Rwanda' }, { name:
                        'Saint Barthélemy' }, { name:
                        'Saint Helena' }, { name:
                        'Saint Kitts and Nevis' }, { name:
                        'Saint Lucia' }, { name:
                        'Saint Martin (French part)' }, { name:
                        'Saint Pierre and Miquelon' }, { name:
                        'Saint Vincent and the Grenadines' }, { name:
                        'Samoa' }, { name:
                        'San Marino' }, { name:
                        'Sao Tome and Principe' }, { name:
                        'Saudi Arabia' }, { name:
                        'Senegal' }, { name:
                        'Serbia' }, { name:
                        'Seychelles' }, { name:
                        'Sierra Leone' }, { name:
                        'Singapore' }, { name:
                        'Sint Maarten (Dutch part)' }, { name:
                        'Slovakia' }, { name:
                        'Slovenia' }, { name:
                        'Solomon Islands' }, { name:
                        'Somalia' }, { name:
                        'South Africa' }, { name:
                        'South Georgia and the South Sandwich Islands' }, { name:
                        'South Sudan' }, { name:
                        'Spain' }, { name:
                        'Sri Lanka' }, { name:
                        'Sudan' }, { name:
                        'Suriname' }, { name:
                        'Svalbard and Jan Mayen' }, { name:
                        'Swaziland' }, { name:
                        'Sweden' }, { name:
                        'Switzerland' }, { name:
                        'Syrian Arab Republic' }, { name:
                        'Taiwan' }, { name:
                        'Tajikistan' }, { name:
                        'Tanzania' }, { name:
                        'Thailand' }, { name:
                        'Timor-Leste' }, { name:
                        'Togo' }, { name:
                        'Tokelau' }, { name:
                        'Tonga' }, { name:
                        'Trinidad and Tobago' }, { name:
                        'Tunisia' }, { name:
                        'Turkey' }, { name:
                        'Turkmenistan' }, { name:
                        'Turks and Caicos Islands' }, { name:
                        'Tuvalu' }, { name:
                        'Uganda' }, { name:
                        'Ukraine' }, { name:
                        'United Arab Emirates' }, { name:
                        'United Kingdom' }, { name:
                        'United States' }, { name:
                        'United States Minor Outlying Islands' }, { name:
                        'Uruguay' }, { name:
                        'Uzbekistan' }, { name:
                        'Vanuatu' }, { name:
                        'Venezuela' }, { name:
                        'Viet Nam' }, { name:
                        'Virgin Islands' }, { name:
                        'Wallis and Futuna' }, { name:
                        'Western Sahara' }, { name:
                        'Yemen' }, { name:
                        'Zambia' }, { name:
                        'Zimbabwe' }
    ],
    active1: false,
    CreateFormFieldClicked: false
  }),
  components: {
    //            MdDropDownIcon
    //          MdDropDownIcon
    VueTimepicker

    //    UserCard
  },

  methods: {
    CreateFormPressed () {

    } }

}

</script>

<style scoped>

    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

</style>
